[2020-06-30 19:29] jcohenadad commented on #1
The annoying thing is that re-doing a `git push` starts the upload from scratch again (instead of continuing where it failed).

[2020-06-30 19:34] kousu commented on #1
Is the upload just too large? Maybe you're hitting an undocumented limit in github's setup?

[2020-06-30 19:38] jcohenadad commented on #1
you mean, there could be another limit than the max 100MB per file and max 100GB per repos?

i'm currently trying again. If it fails again, i'll switch to ssh (currently using https).

[2020-06-30 19:51] jcohenadad commented on #1
tried again, now receiving another error: ``error: RPC failed; curl 55 SSL_write() returned SYSCALL, errno = 32`` pointing to [this possible solution](https://github.community/t/error-rpc-failed-curl-55-openssl-ssl-write-ssl-error-zero-return-errno-10053/2226/7)

[2020-06-30 19:57] jcohenadad commented on #2
question: what should we do?
- downsample these images to the native acquisition matrix (currently: upsampled to 512x512)
- other ideas?

[2020-06-30 20:02] jcohenadad commented on #2
there are only 4 problematic files:
[code]

[2020-06-30 20:03] jcohenadad commented on #1
yup! https://github.com/spine-generic/data-multi-subject/issues/2#issue-648453102

[2020-06-30 20:03] kousu commented on #1
The error is an unceremonious disconnection. It's the sort of thing that would happen if the server hits a RAM or a file-descriptors limit, or segfaults.

[2020-06-30 20:07] kousu commented on #2
This is what `git-lfs` is meant for.

[code]

[2020-06-30 20:08] kousu commented on #2
Of course we're going to run off [the limits in `git-lfs`](https://help.github.com/en/github/managing-large-files/about-storage-and-bandwidth-usage) quickly without paying Github for the privilege.

[2020-06-30 20:12] jcohenadad commented on #2
i think i'll simply downsample these 4 data

[2020-06-30 20:52] jcohenadad commented on #2
i'm also uploading by smaller chunks

[2020-07-02 18:32] jcohenadad opened #4 "remove data from openneuro and update all links"
in manuscript, osf, etc.

[2020-07-03 14:56] jcohenadad commented on #4
Duplicate of https://github.com/spine-generic/spine-generic/issues/98

[2020-07-03 14:56] #4 closed

[2020-07-08 22:36] jcohenadad opened #6 "document convention for labels"
seg, labels, etc.

more context to come soon...

[2020-07-09 01:53] jcohenadad commented on #7
Ah geeze I forgot about this :-(. Such a pain to create those. I’m tempted to say that GH does inform about this, but once the data is downloaded the info is not visible. So yes, maybe we should enforce that.

[2020-07-22 13:49] jcohenadad opened #9 "Verify and manually correct results for r20200722"
With this new release https://github.com/spine-generic/data-multi-subject/releases/tag/r20200722, QC and manual correction needs to be performed and then uploaded to this repository. More specifically:
- Check the cause of the errors (log files with prefix `err.`)
- Run `sg_generate_figure`, check for outliers and report the cause for these outliers
- Create a `.yml` file that lists the data to co

[2020-07-22 14:21] jcohenadad commented on #7
will be addressed in https://github.com/spine-generic/spine-generic/issues/143

[2020-07-23 00:25] jcohenadad commented on #10
could be fixed by adding an entry in the dict that defines the flags per site. see in the function

[2020-07-23 00:36] PaulBautin commented on #9
Is mountSinai ==> mountSinai hospital (Canada)?

[2020-07-23 00:38] PaulBautin commented on #10
Is mountSinai ==> mountSinai hospital (Canada)?

[2020-07-23 00:38] jcohenadad commented on #10
US: https://www.mountsinai.org/

[2020-07-23 05:18] valosekj commented on #10
`brno` was renamed to `brnoUhb` in this [PR](https://github.com/spine-generic/spine-generic/pull/55). But we forgot to fix the [flags](https://github.com/spine-generic/spine-generic/blob/668dc2e2e7b02ca94b18fde0557234315fcfd73d/spinegeneric/cli/generate_figure.py#L72) dict.

[2020-07-23 09:03] valosekj commented on #9
So far, I have checked QC for DWI data using `moco_dwi_mean` keyword in "Search" feature. I list below my findings.

**worse SC segmentation using `sct_deepseg_sc` in a few slices:**
sub-vuiisAchieva01_dwi_moco_dwi_mean.nii.gz
sub-vuiisAchieva04_dwi_moco_dwi_mean.nii.gz
sub-vuiisAchieva06_dwi_moco_dwi_mean.nii.gz
sub-perform03_dwi_moco_dwi_mean.nii.gz
sub-stanford01_dwi_moco_dwi_mean.nii.gz
sub-sa

[2020-07-23 14:05] jcohenadad commented on #10
@PaulBautin can you fix it? it's trivial

[2020-07-23 16:44] PaulBautin commented on #10
Doing it right now,

[2020-07-23 17:38] PaulBautin commented on #9
I can not find any vertebrae labeling in QC for t2w images. Is this normal?

[2020-07-23 22:30] PaulBautin commented on #9
Here is the list of QC false segmentation or labelings for t1w and t2w images. I can also send the .yml file:
FILES_SEG:
  - sub-beijingGE03_T1w_RPI_r.nii.gz
  - sub-brnoUhb02_T1w_RPI_r.nii.gz
  - sub-brnoUhb05_T1w_RPI_r.nii.gz
  - sub-brnoUhb07_T1w_RPI_r.nii.gz
  - sub-brnoUhb08_T1w_RPI_r.nii.gz
  - sub-pavia04_T1w_RPI_r.nii.gz
  - sub-perform02_T1w_RPI_r.nii.gz
  - sub-perform03_T1w_RPI_r.nii.gz

[2020-07-24 02:45] jcohenadad commented on #9
@valosekj and @PaulBautin thank you for the review 💯

once https://github.com/neuropoly/spinalcordtoolbox/pull/2734 is merged (should be first thing tomorrow), we can merge https://github.com/spine-generic/spine-generic/pull/146, and then you can start doing the manual correction.

[2020-07-27 12:09] charleygros commented on #9
FILES SCSEG:
Some files ([example](https://github.com/spine-generic/data-multi-subject/tree/master/derivatives/labels/sub-tokyoIngenia04/anat)) have an unexpected "rms" prefix.

[2020-07-27 12:15] jcohenadad commented on #9
Some Philips sites included T2star as 4D data (all echoes), so we had to average all echoes. We didn't want to overwrite the data so we decided to add the `rms` suffix. @charleygros how and where is this suffix unexpected? (e.g. are you working in a specific pipeline that is expecting exact file names based on the spine-generic documentation? are you referring to the BIDS convention? (this is a de

[2020-07-27 22:45] charleygros commented on #9
Sorry... I expressed myself poorly.
I got this issue when using our [loader](https://github.com/neuropoly/bids_neuropoly/blob/master/bids_neuropoly/bids.py), which look at the image name, eg `sub-tokyoIngenia04/anat/sub-tokyoIngenia04_T2star` ([here](https://github.com/spine-generic/data-multi-subject/tree/master/sub-tokyoIngenia04/anat)), then go in the `derivatives/labels` folder to grab the ass

[2020-07-28 01:07] jcohenadad commented on #9
ahhhhh! of course! i didn't think of that problem 🧐.
well that's annoying. I would like to avoid adding processed files under the main BIDS folder (i.e. root/sub-*), as this is against BIDS conventions (i.e. only unprocessed data can go on the root-- the rest is derivatives).

so, I see two solutions:
1) we create a `derivatives/sct/` folder under this repos
  - problem: people downloading this re

[2020-07-28 01:13] jcohenadad commented on #9
^ discussion to be continued to another issue https://github.com/spine-generic/data-multi-subject/issues/13

as this issue is specifically about the manual correction of some of the processed datasets

[2020-07-28 01:18] charleygros commented on #13
@jcohenadad : And what about simply renaming `derivatives/labels/sub-tokyoIngenia04/anat/sub-tokyoIngenia04_T2star_rms_gmseg-manual.nii.gz` by `derivatives/labels/sub-tokyoIngenia04/anat/sub-tokyoIngenia04_T2star_gmseg-manual.nii.gz`. Am I missing something?

[2020-07-28 01:20] jcohenadad commented on #13
because in some sites, `anat/sub-tokyoIngenia04_T2star.nii.gz` is a 4d data, which needs to be processed before you can use it to train a model. The same applies to other data (e.g., the T1w scan is resampled to 1mm iso, because some sites used an interpolation filter on the scanner)

[2020-07-28 01:25] charleygros commented on #13
Makes sense :-)
And .. in that case.. what about adding the image `sub-tokyoIngenia04/anat/sub-tokyoIngenia04_T2star_rms.nii.gz`?

[2020-07-28 01:31] jcohenadad commented on #13
because of [this](https://bids-specification.readthedocs.io/en/latest/02-common-principles.html#source-vs-raw-vs-derived-data): _Derivatives of the raw data (other than products of DICOM to NIfTI conversion) MUST be kept separate from the raw data._

[2020-07-28 01:47] charleygros commented on #13
ishh... yes sorry, you ve already said this.. ..!

Sounds like a good option.
I am only wondering how to do the update between the two derivative folders.. !?
Also.. we would need the "averaged" image at some point..  since the loader is expecting a 3D as image... and I now understand we can't have such image in BIDS, according to BIDS Law... except if we change our loader: if image is 4D --> aver

[2020-07-28 02:07] jcohenadad commented on #13
ah! good point. This is another (related) data management problem @kousu @drulex @zougloub

given that the processing doesn't take long (30s/subject), i suggest that in your ivadomed training pipeline, you include a pre-processing script, which will take https://github.com/spine-generic/data-multi-subject as input (we can track the version of the dataset + processing script).

the solution above w

[2020-07-28 03:42] kousu-1 commented on #13
It sounds like you've figured it out, but I'll add my thoughts.

You're talking about adding a cache. Caching is a well-studied but tricky issue to get right since there's no universal implementation of it (`make` has one, `bazel` has one, `docker` has one, `http://` has one, `haskell` has one; and none of those apply to online datasets).

So the most reliable thing to do is option 3: don't cache.

[2020-07-28 13:35] jcohenadad commented on #13
Thank you for your insights @kousu-1. After giving it some thoughts, it seems like solution 2a is the most elegant / less prone to error. Indeed, caching does require maintenance, and at some point it's inevitable that we will screw things up (e.g., data is updated on repos A, and we don't update on repos B because we don't have time).  Whereas if everything is tracked in the same repos, and peopl

[2020-07-28 21:46] jcohenadad commented on #9
@valosekj can you please make a yml file with the files listed in https://github.com/spine-generic/data-multi-subject/issues/9#issuecomment-662897952 so i can package you the data for the manual corrections?

[2020-07-28 21:47] jcohenadad commented on #9
@PaulBautin can you please upload a yml file for the files listed in https://github.com/spine-generic/data-multi-subject/issues/9#issuecomment-663263703 so i can package the data for you

[2020-07-28 21:52] jcohenadad commented on #7
Fixed in #143

[2020-07-28 21:53] jcohenadad commented on #1
won't fix, but we don't have to do big uploads anymore 😅

[2020-07-28 21:53] jcohenadad commented on #2
problematic files were downsampled-- problem solved

[2020-07-28 21:54] jcohenadad commented on #3
fixed: https://github.com/spine-generic/data-multi-subject#download-zip-package-recommended

[2020-07-28 21:57] PaulBautin commented on #9
@jcohenadad, yml file cannot be uploaded in github comments. Should i send it directly to you or in database_mri slack?

[2020-07-28 21:59] jcohenadad commented on #9
well, make it a zip 😉

[2020-07-28 22:00] PaulBautin commented on #9
Here is the zipped yml file with the list of QC false segmentations or labelings for t1w and t2w images
[err_file_t1w_t2w.zip](https://github.com/spine-generic/data-multi-subject/files/4991384/err_file_t1w_t2w.zip)

[2020-07-28 22:30] jcohenadad commented on #9
[code]

@PaulBautin you probably made a mistake-- `sub-brnoUhb01_acq-T1w_MTS_crop.nii.gz` is not used for GM seg

[2020-07-29 00:08] PaulBautin commented on #9
Ah, i'm actually not sure about this one. Could you look at it   ==>
![sct_warp_template_subbrnoUhb01](https://user-images.githubusercontent.com/49245398/88741426-97d01d00-d10d-11ea-8c64-c41dcb30cdc9.png)

[2020-07-29 00:42] jcohenadad commented on #9
you’re looking at warp_template function, not deepseg_gm.

[2020-07-29 08:50] valosekj commented on #9
I am attaching yml file below.
Because only SC segmentation is done on DWI data, I included filenames only under `FILES_SEG` key.

<details><summary>I also included a few subjects with low data quality under FILES_SEG key to verify their images in high-quality:</summary>

`sub-perform01_dwi_moco_dwi_mean.nii.gz`:
<img width="948" alt="image" src="https://user-images.githubusercontent.com/39456460/

[2020-07-29 14:03] PaulBautin commented on #9
Oups my bad, should i remove it from the list or set as a different name of category?

[2020-07-29 14:26] jcohenadad commented on #9
please read the doc: https://spine-generic.readthedocs.io/en/latest/analysis_pipeline.html#quality-control

[2020-07-29 14:35] PaulBautin commented on #9
Ok, i have to verify the GM segmentation. sorry for the delay.

[2020-07-29 16:07] PaulBautin commented on #9
Here is the corrected zipped yml file with the list of QC false segmentations or labelings for t1w and t2w images.
[err_file_t1w_t2w_corrected.zip](https://github.com/spine-generic/data-multi-subject/files/4996003/err_file_t1w_t2w_corrected.zip)

[2020-07-29 16:59] jcohenadad commented on #9
--> i'll generate a package and @alexfoias will send it to you

@valosekj i've create a specific issue for DWI data quality: https://github.com/spine-generic/data-multi-subject/issues/14
can you please report the low data quality in this issue, with screenshots from your QC report as you did, but without the segmentation overlaid (so we can look at the data).

[2020-07-29 17:36] jcohenadad commented on #9
@valosekj here are the packaged data:
[data_dwi_valosek_29-07-2020.zip](https://github.com/spine-generic/data-multi-subject/files/4996500/data_dwi_valosek_29-07-2020.zip)

[2020-07-29 18:16] valosekj commented on #14
I have found that following subjects have low DWI data quality (I list dwi filenames below):

`sub-perform01_dwi_moco_dwi_mean.nii.gz`
<img width="947" alt="image" src="https://user-images.githubusercontent.com/39456460/88835074-0b892d00-d1d5-11ea-9017-81ee27ee8356.png">

`sub-beijingVerio02_dwi_concat_moco_dwi_mean.nii.gz`
<img width="943" alt="image" src="https://user-images.githubusercontent.co

[2020-07-29 18:23] jcohenadad commented on #14
@valosekj regarding: oxfordFmrib01
can you remove it pls? this issue is only about data quality. we will deal with processing problems in other issues

[2020-07-29 19:22] jcohenadad commented on #9
@PaulBautin @valosekj i've clarified the doc for uploading corrected files: https://spine-generic.readthedocs.io/en/latest/analysis_pipeline.html#upload-the-manually-corrected-files

[2020-07-29 21:44] PaulBautin commented on #9
Should a segmentation that cannot be corrected be discarded? What should be done with original subject (non segmented)? example: sub-cmrra02_T2w_RPI_r.nii.gz:
![image](https://user-images.githubusercontent.com/49245398/88856706-f1465380-d1c2-11ea-94ec-8af9068f0065.png)

[2020-07-29 21:51] jcohenadad commented on #9
this is just a problem of QC visu— open the actual seg and image.

[2020-07-29 22:03] PaulBautin commented on #9
Hmm, could it be an error while defacing?
![image](https://user-images.githubusercontent.com/49245398/88858239-b2fe6380-d1c5-11ea-8513-b73eec8281c3.png)

[2020-07-29 22:20] jcohenadad commented on #9
sh... indeed, it is. thank you for spotting this @PaulBautin 🏅

@alexfoias please fix this, thanks.

[2020-07-29 22:52] jcohenadad commented on #14
@valosekj that's a processing-related problem. Please only list images with low data quality. We will deal with processing problems in other issues (let's not mix problems otherwise it gets confusing).

[2020-07-29 22:55] jcohenadad commented on #9
sub-mountSinai03_dwi_moco_dwi_mean.nii.gz

@valosekj this is caused by https://github.com/spine-generic/spine-generic/issues/76

so we should indeed exclude this site from the next analysis. I will upload a `sct_run_batch.yml` in this repository with the sites to exclude.

[2020-07-30 14:06] alexfoias commented on #9
@PaulBautin related to https://github.com/spine-generic/data-multi-subject/issues/9#issuecomment-665953657

Is it sub-cmrra02_T2w ?

[2020-07-30 14:25] PaulBautin commented on #9
yes, sub-cmrra02_T2w_RPI_r.nii.gz

[2020-07-30 14:41] alexfoias commented on #9
@jcohenadad I cannot find on `duke/sct_testing/bids` the multi-subject dataset before defacing. I also looked on `duke/mri`, but I cannot find `cmrra`. Do we have somewhere the original data  (I checked in my email but I couldn't find cmrra)?

[2020-07-30 14:47] jcohenadad commented on #9
@alexfoias could you get an old backup from duke? that’s what it’s for

[2020-07-30 20:52] jcohenadad commented on #17
@PaulBautin you've listed T2star_rms data (that's T2star, not T2 or T1, as the title says)-- pls open an issue for each modality so we can keep things organized-- thanks

[2020-07-30 21:08] PaulBautin commented on #17
I have removed T2* images from this issue and placed these images under issue #18

[2020-07-30 21:12] jcohenadad commented on #18
@PaulBautin the headings are wrong for the top image-- better to now put a heading so there won't be any error-- the name is already in the screenshot

[2020-07-30 21:13] jcohenadad commented on #17
also split T1 and T2 pls

[2020-07-30 21:23] PaulBautin commented on #18
Ok, that was corrected,  image belongs in issue #17

I have removed headings for both issues #17 and #18

[2020-07-30 21:26] PaulBautin commented on #17
There are no T2 images, they seem to be of better quality.

[2020-07-31 15:24] jcohenadad opened #20 "Move the big files in S3"
Strategy to be described here

bucket name: `neuropoly/spine-generic/data-multi-subject`
--> if "/" are not allowed, replace with "."

[2020-07-31 15:48] Drulex commented on #20
@jcohenadad @kousu As per discussion:

- bucket naming convention (DNS) = `data-multi-subject.spine-generic.neuropoly`
- public URL = TBD (investigate CDN strategies), in the meantime can be `http://data-multi-subject.spine-generic.neuropoly.s3.amazonaws.com`
- canadian datacenter/warehouse by default
- make sure history is preserved while files are removed from git and moved to git-annex

[2020-08-01 14:57] jcohenadad commented on #9
manually-corrected data now released: https://github.com/spine-generic/data-multi-subject/releases/tag/r20200801

[2020-08-01 14:58] #9 closed

[2020-08-01 15:00] jcohenadad opened #22 "Fix wrong defacing in some subjects"
After finding issue with defacing https://github.com/spine-generic/data-multi-subject/issues/9#issuecomment-665953657, we decided to re-review all the defacing results.

[2020-08-01 16:53] kousu commented on #20
I'll take care of this. I look around to see if someone's written a `git annex migrate` and if not I'll read [`git lfs migrate`](https://manpages.debian.org/unstable/git-lfs/git-lfs-migrate.1.en.html). I assume it involves some clever `git filter-branch` command.

[2020-08-04 14:38] kousu commented on #20
I've hit a snag. `git-annex-remote-s3` hasn't been maintained, and it's not compatible with Amazon locations outside of the US.

<details>

[code]

US locations work:

[code]

(the last one is slightly different: us-east-1 (the primary and default) it won't accept the `datacenter` which gets translated to Amazon's `LocationConstraint` parameter:

[code]
)

</details>

There's a note on https://aws

[2020-08-04 14:56] Drulex commented on #20
This only affects bucket creation right? For our use cases buckets could be created manually in the proper region and then used by the git-annex remotes.

Surprisingly I cannot find the documentation to create an S3 remote pointing to an existing bucket, it seems `initremote type=S3` will attempt to create the bucket no matter what? That can't be.

[2020-08-04 14:59] kousu commented on #20
@Drulex I edited my post with an attempt at working around by `awscli`; it didn't work.

This is reinforcing my impression that `git-annex` is a buggy, sprawling codebase.

[2020-08-04 15:00] kousu commented on #20
You can look through the code in

[code]

and try to figure it out with me.

[2020-08-04 15:04] kousu commented on #20
Maybe it's not a bug in `git-annex` afterall, they're using https://hackage.haskell.org/package/aws, which must be responsible for doing the signature computations.

[2020-08-04 16:18] kousu commented on #20
Thanks to @bpinsard, we got this working; the trick was to force `signature=v4`:

[code]

[2020-08-04 16:20] kousu commented on #20
nts: sample from @Drulex at https://github.com/Drulex/git-annex-s3-public-test.

[2020-08-04 16:26] kousu commented on #20
Prototype upload:

[code]

[2020-08-04 16:57] kousu commented on #20
I'm changing the naming convention to

* bucket naming convention (DNS) = `data-multi-subject---spine-generic---neuropoly`

because Amazon's cert is for `*.s3.ca-central-1.amazonaws.com` and this only means one level of subdomain is supported.

[2020-08-05 16:20] kousu commented on #20
Alright, it's migrated to the annex and uploaded to Amazon. It's at https://github.com/kousu/spine-generic-data-multi-subject/tree/master-annexed. I didn't make a fork for this because I want to rewrite the history completely, so no PR, if it looks good @jcohenadad you're going to have to do some command line shennanigans to get it in (and then we'll have to walk everyone contributing to the repo

[2020-08-05 16:32] jcohenadad commented on #20
@kousu will it be possible for people to contribute via PR (as currently the case now)?  The advantage is that it enables me to go through the PR and look at the proposed changes, before pushing on master. What I understand from the procedure above, is that to update master, we do it directly by git push (instead of going through a PR)?

[2020-08-05 16:57] jcohenadad commented on #20
@kousu do i need to "get" everything in order to test how things work? e.g.: can i just get a few files, modify them, then upload? and/or upload new files?

[2020-08-05 17:33] Drulex commented on #20
No simply clone the repo, enable the remote and get the file you want.
[code]

[2020-08-05 17:47] Drulex commented on #20
@kousu how come the files don't show up as symlinks? In the test repo I had setup, the files tracked via `git-annex` store the location in this form: `.git/annex/objects/...` whereas in this repo it  shows up as `/annex/objects/...`.

See https://github.com/Drulex/git-annex-s3-public-test/blob/master/file_a.file vs https://github.com/kousu/spine-generic-data-multi-subject/blob/master-annexed/sub-a

[2020-08-05 17:48] jcohenadad commented on #20
so, this is what i did:
[code]
--> worked, files are being downloaded. I stopped after 13GB (when i saw https://github.com/spine-generic/data-multi-subject/issues/20#issuecomment-669328273)

then, i tested downloading a single file:
[code]
--> worked

note: i didn't do the following command:
[code]
@Drulex is that a necessary command? or is it just needed in case there is no default remote set up?

[2020-08-05 18:04] Drulex commented on #20
From my understanding it looks like `enableremote` only needs to be run once by the person who created the remote (https://git-annex.branchable.com/walkthrough/using_special_remotes/), perhaps @kousu already enabled it.

I don't think so. I don't see that. Did you SIGINT the transfer?

[2020-08-05 18:08] jcohenadad commented on #20
yes, as mentioned in https://github.com/spine-generic/data-multi-subject/issues/20#issuecomment-669335288, i did ctrl+c while it was downloading (at ~13GB). i guess that was a bad move 😬

[2020-08-05 19:46] kousu commented on #20
I configured it to use `git-annex smudge` because I thought the symlinks would be confusing than helpful. See `.gitattributes`. Turns out it can work more like `git-lfs` than I thought :flushed:

(`git-annex` is a tool where there are many ways to use it instead of one right way to use it, so we're going to keep stumbling over these ambiguities as we sort out how to match it to our workflows and i

[2020-08-05 19:47] kousu commented on #20
It should be fine. Just do `git annex get .` and it will probably resume?

[2020-08-05 19:56] kousu commented on #20
@jcohenadad sometimes I got a message like this when doing this:

I wonder if your files are the right files? For example, what does

[code]

say for you?

On (non-annexed) `master` I see

[code]

Do you see the same on your annexed copy?
(I am not going to check my annexed copy right now because switching branches back to the non-annexed master takes about 10 minutes on my computer)

If you check

[2020-08-05 20:21] jcohenadad commented on #20
yup!
[code]

however...  😨
[code]

and on https://github.com/spine-generic/data-multi-subject (master):
[code]

however, the perform site still has the same sha256 between your repos and the data-multi-subject repos.

[2020-08-05 20:25] jcohenadad commented on #20
and yes: the git status is now clean:
[code]

[2020-08-05 21:35] kousu commented on #20
Awesome. It's working.

So `update-index` fixed it? I never saw anything in the datalad handbook about that, but it never talks about failed/interrupted downloads either. We'll have to keep that in mind in our own handbooks.

[2020-08-05 21:38] jcohenadad commented on #20
seems like it!  or it was some cosmic rays flowing in the right direction

[2020-08-05 21:43] kousu commented on #20
Something else to keep in mind is that `git annex smudge` stores the name of the .git/annex object in the .git/objects file on check-in -- it's basically the same as storing a symlink, but with the extra layer of invisible translation between the point and the real file (this is identical strategy `git-lfs` takes). It also seems to be the recommended setup now?

You can see these real, un-smudged

[2020-08-11 05:29] kousu commented on #20
**J'ai fait une erreur!** I discovered that I had reset all files that got edited to their initial versions.

The fixed repo is at https://github.com/kousu/spine-generic-data-multi-subject/tree/master-reannexed.

[2020-08-11 18:39] kousu commented on #20
Migrating an existing dataset into git-annex
============================================

Rationale
---------

1. Which files?

One way to deploy git-annex is simply to annex every single file. That seems to be what [`datalad`](https://handbook.datalad.org) does. Another is to pick files step-by-step, choosing between, say `git add derivatives/labels/sub-brnoUhb01/` and `git annex add sub-stanfor

[2020-08-11 18:54] jcohenadad commented on #20
Not necessarily. If it is easier to scrap the history, let's scrap it.

[2020-08-11 19:42] kousu commented on #20
#21 got merged so I'm going to merge that into my `master-reannexed` branch. Don't merge this until I'm done.

[2020-08-11 19:49] kousu commented on #20
# Dataset Workflow

[ placeholder for a short doc explaining how to do pull requests in the git-annex regime. i'll migrate this to the wiki, too ]

[2020-08-12 16:18] jcohenadad commented on #25
oopsi! i forgot about this. good catch!

[2020-08-13 16:48] kousu commented on #20
# Migrating #21 in too

Because switching to the non-annexed copy is Very Slow I wanted to figure this out without actually switching to my local `master` and merging there. So instead of `git pull` I started with ` fetch`:

[code]

<details><summary>output</summary>

[code]

---

</details>

[code]

So the renamed files picked up the annexing correctly, which is good.
The new files are not annexe

[2020-08-13 16:50] kousu commented on #20
# Re-publishing

[code]

<details><summary>output</summary>

[code]

</details>

The files for which the "ok" is on a second line are the ones that were new and needed uploading.

It takes a pretty long time to run `git annex copy` like this on a dataset with this many files! I think `git annex sync --content` or `git annex copy --to=amazon subfolder/` would be faster since they can focus on only

[2020-08-13 17:39] kousu commented on #20
@jcohenadad please merge this to `master` now:

[code]

[2020-08-13 18:42] jcohenadad commented on #20
@kousu i would like to discuss the strategy for moving to git-annex, can we talk?

[2020-08-13 20:23] jcohenadad opened #1 "Update documentation for git-annex"
- [ ] Downloading data
- [ ] Uploading (for core team)
- [ ] Creating PRs
- [ ] Brief description about the particularity of this git-annex repos (e.g., the presence of a git-annex branch, etc.)
- [ ] git-annex deadhere --> to remove mirrors  (e.g. local station)

[2020-08-13 20:26] kousu commented on #1
Lots of notes here, including extra caveats and troubleshooting: https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/issues/20#issuecomment-672180622

(I wish we didn't have to go into this with troubleshooting tips pre-made but as far as I can tell that's just how git-annex is going to be)

[2020-08-13 22:29] kousu opened #2 "fscking"
git-annex manages only loosely connected components. We should add a CI script (a Github Action?) to impose some daily/weekly/monthly fscking of our dataset to make sure it's in a consistent state.

1. [ ] **Corruption**. `git-annex` names content according to their checksums, and can catch and refuse to download a file that has been corrupted, but this is only caught at download time, so we could

[2020-08-13 22:30] kousu opened #3 "Sort out how to support non-neuropoly members submitting pull requests"
Because we're now storing our NifTi files on Amazon S3, which we're paying for, and not on Github, the usually fork-and-pull request workflow is broken. Every fork will still be pointing its NifTis at the same Amazon S3 bucket. For members of the lab, this is okay: we can grant them credentials and they can upload to it, and git-annex makes it very difficult to accidentally corrupt the content, an

[2020-08-13 22:38] kousu commented on #3
Ideas:

- instruct people to *disable* annexing (`git annex deinit`) and commit right to github; when we accept a PR, **don't** accept it online, instead do it via the CLI, apply my [annex migration script](https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/issues/20#issuecomment-672180622), and then we run `git annex sync --content amazon`.
- set up a "pull request" bucket on Amazon (

[2020-08-13 22:40] kousu commented on #3
Maybe we should just accept all updates directly via PR on Github -- even for lab members -- but write a Github Action that runs the migration on merges? That sounds hard to get right but maybe more fool-proof than making people deal with git-annex.

[2020-08-14 23:10] kousu opened #5 "ComputeCanada compatibility"
@kousu should we also add doc for maintainer of this repos? e.g., i was trying to clone this repos on compute canada (to start doing some processing), and ran into:
[code]

_Originally posted by @jcohenadad in https://github.com/spine-generic/data-multi-subject/pull/4#issuecomment-674176954_

[2020-08-14 23:12] kousu commented on #5
This looks like a bug in `git-annex`. It's probably trying to call https://linux.die.net/man/3/getpwent and failing because you don't have a real local Unix user on that cluster. It shouldn't _matter_ but git-annex makes a lot of assumptions. Do you think it would be possible to try `datalad` for comparison? Try, say,

[code]

I would be surprised if one worked and the other didn't.

[2020-08-14 23:15] kousu commented on #5
It's also possible that Compute Canada has an ancient version of git-annex installed. Debian is still on, I think, 6.x but `datalad` insists you need, I think, 8.x. If they're running centos it might be an even older version.

[2020-08-15 02:01] jcohenadad commented on #5
ha!
[code]
kernel:
[code]

[code]

[2020-08-15 02:09] jcohenadad commented on #5
Hum, i only see this the 6.2 version of git-annex on the [compute canada list of software](https://docs.computecanada.ca/wiki/Available_software)

[2020-08-15 02:10] jcohenadad commented on #5
in general (not specific to compute canada), we should probably add the requirements (git-annex version) for external people to be able to download our datasets

[2020-08-16 01:30] kousu commented on #5
@jcohenadad if Compute Canada doesn't get back to you / says no, you can install a local copy ([instructions](
https://git-annex.branchable.com/install/fromsource/)):

[code]

This will install to `~/.local/bin`, (like [I've advocated for](https://github.com/neuropoly/spinalcordtoolbox/issues/2823#issuecomment-667797422)), which is a good way to get software installed without having to nag your sy

[2020-08-16 03:25] kousu commented on #20
This is done now. /close?

[2020-08-16 12:15] #20 closed

[2020-08-17 00:27] kousu commented on #20
I was wrong about the reason for this!! The real reason for this is that I set this up using git-annex v8, which is what Arch has, and what `brew` has, and what `conda` has, but *not* what Neurodebian has (v7), nor Debian (v6), nor oldstable debian (v5).

This change in format was only announced in a tiny one liner here:

* https://hackage.haskell.org/package/git-annex-8.20200309/changelog

and no

[2020-08-17 00:32] jcohenadad commented on #20
possible to re-do it with v7? but what will happen in 10y from now when people will he using git-annex v15?

[2020-08-17 03:43] kousu commented on #20
Well I read that git-annex does silently data migrations, the way phone apps all work.

And what happens if someone on Debian with v7 publishes a dataset that is then cloned by a collaborator on a Mac with v8? The v8 collaborator is going to silently upgrade the entire thing to v8, and if they send a PR it's going to upgrade the published format, breaking it for the Debian user.

It should be fine

[2020-08-17 14:41] jcohenadad opened #7 "Check for data consistency"
The proposed feature is to make sure that the subjects listed in participants.tsv match the actual data sub-* data. This check will be done bidirectionally.

Related to https://github.com/spine-generic/spine-generic/pull/171

[2020-08-17 17:13] jcohenadad opened #8 "Create CHANGES.md file and populate it with changelog"

[2020-08-18 18:54] jcohenadad commented on #5
i've tried the solution above, but ran into issues.

<details><summary>Full details</summary>

[code]

</details>

[2020-08-18 18:58] jcohenadad commented on #5
I'm trying now to install git-annex v8 via conda:
[code]

worked like a charm 🎉
maybe we should document this solution (for non-experienced users)

[2020-08-18 19:29] valosekj opened #10 "missing age and sex for some subjects in participants.tsv"
Not all subjects in [participants.tsv](https://github.com/spine-generic/data-multi-subject/blob/master/participants.tsv) file have listed age. Age could be used as a covariate in statistical analysis to rule out potential effect of age on results etc.
Most of subjects with missing age also miss sex.

Sites with missing age:

**institution_id | institution**
- [x] amu | AMU - CEMEREM
- [x] beijing7

[2020-08-18 21:04] mboisson commented on #5
Just a note here that Compute Canada discourages the use of Anaconda for reasons explained here: https://docs.computecanada.ca/wiki/Anaconda/en

But if it works for this specific case, then good.

[2020-08-18 21:43] kousu commented on #5
Interesting. I'm not surprised they take this position. Conda is, essentially, an entire distro unto itself running on top of your pre-existing distro. For Windows and macOS which don't have good package managers it is very helpful to provide something that works. ((I kind of wish they'd just decided to contribute to brew, instead, though; brew runs on Linux, and they could've gotten it running on

[2020-08-18 21:49] mboisson commented on #5
(Full disclosure, I am a Compute Canada staff).
Anaconda is the source of a lot of problems on supercomputers/clusters. It tries to do way too many things not the right way, including reinstalling the world. It will never work well on a cluster.

If you go the conda route, we will just have to figure out how to reverse engineer it to avoid conda, which means it will take longer for us to install y

[2020-08-18 23:02] kousu commented on #5
^ @jcohenadad this is what I've been saying about conda!

/cc https://github.com/neuropoly/spinalcordtoolbox/issues/1526, https://github.com/shimming-toolbox/shimming-toolbox-py/pull/28#issuecomment-661921548,  https://github.com/shimming-toolbox/shimming-toolbox-py/pull/15#issuecomment-658965963, https://github.com/shimming-toolbox/shimming-toolbox-py/pull/7#discussion_r451178106

This repo is ju

[2020-08-18 23:16] mboisson commented on #5
Lots of things here...

Indeed. Containers are the lesser of two evils. They aren't optimized for HPC, but at least
1) they don't install zillions of files like conda does. This creates havock on a parallel filesystem like what is used on HPC clusters. They have very fast filesystems, but they are meant to handle small numbers of large files, not large number of small files.
2) They are actually c

[2020-08-18 23:19] mboisson commented on #5
Oh, and by the way, once you got the basics right and your code installs well with a tool like Autoconf or CMake, it is *trivial* to make it into a container, or ship it in conda, or document its installation from source, so it supports every target.

[2020-08-19 01:46] jcohenadad commented on #10
@alexfoias I've contacted all researchers listed above. In the meantime (when you come back from holidays) if you could look into the raw data, see if you can find that info. Thanks

[2020-08-19 04:43] kousu commented on #5
https://distr1.org/ should interest you. It's by someone who spent a decade of his life loving and hating `apt`, and now he's out and doing something else. One of its main features is image-based installation; instead of unpacking images they are mounted, and so there's no way to accidentally corrupt an install of a package, but unlike docker/singularity, images can depend on each other instead of

[2020-08-19 12:08] mboisson commented on #5
That still counts as "messing with the user's .bashrc". We can't debug conda, so the first step when a user has a problem and they have some conda stuff is : remove everything conda from your session. And 9 times out of 10, it fixes the issue.

Except it doesn't. It still depend on system libraries, the linux loader, and this is just not portable. Your mileage may vary.
Our stack does not depend o

[2020-08-19 12:14] mboisson commented on #5
To be honest, I don't know if Conda is that bad in itself, but it enables *so many* bad practices... You can install stuff like R, Cuda, GCC, OpenMPI.... there is absolutely no reason to install those through a python package manager. And it does a bad job at installing them because it doesn't know about the system subtleties.

With Conda, we also see users messing up their PYTHONPATH (which they

[2020-08-20 22:02] kousu commented on #5
Hey, I appreciate the brainstorming session. This is really really cool :) :) :)

I'm splitting up my responses to be nicer to my laptop and to future people referring to this thread.

I want to understand problems you've had with conda I share your instinct about it: "this thing is doing everything differently, it wants to take over the whole system, it's going to make a mess of stuff" yet I worr

[2020-08-20 22:12] kousu commented on #5
I am worried about conda becoming *the* platform as much as I am worried about docker being *the* platform -- I prevu that it will work great for a while and then collapse like a house of cards when hardware trends shift again. I think the only way to insulate against that is to build good cross-platform systems from the start, and to encourage complete builds from source.

In fact, don't the same

[2020-08-20 22:13] kousu commented on #5
I don't understand how lmod has better performance characteristics than conda. It, presumably, also exiges reading lots of small files, depending on the software loaded.

Maybe you can [adapt distr1's idea](https://michael.stapelberg.ch/posts/2019-08-17-introducing-distri/#key-idea-packages-are-images-not-archives) of distributing packages as mountable squashfses?

[2020-08-20 22:18] kousu commented on #5
Yes, of course :confounded: , add `@v1.0.3` or whatever to that. I was being lazy and just showing an example. Sorry.

[2020-08-21 00:09] kousu commented on #5
Okay now big thought #2:

I don't think we can. It's more complicated than that. I've been having a discussion with scipy and scikit-image over their build-time dependencies and they taught me that

https://github.com/scikit-image/scikit-image/issues/4261#issue-509476547

https://github.com/neuropoly/spinalcordtoolbox/issues/2841#issuecomment-674467049

They're even considering removing sdists ent

[2020-08-21 00:13] kousu commented on #5
I'm not saying distros are old school and need to get with the times and switch over to a move-fast-and-break-things everyone-can-upload-anything situation. Instead I'm saying there's a conflict in perspective here, and on both sides it comes from legitimate concerns. I hope that instead of writing off tools like conda and docker and `go mod vendor` distro-makers can appreciate the end-user frustr

[2020-08-21 13:54] mboisson commented on #5
I probably won't be addressing all of this, because it is rather long, but here is a couple of answers.

Yes and no. The different is in who is installing things, and how well they know the system. First off, Lmod does not install anything. It is merely a tool to make software installed through other means (we use EasyBuild) available to the users. By design, modules are made to be reversible, i.e

[2020-08-21 13:58] mboisson commented on #5
Yes. There is code out there that have been around for 2 decades, and they still run fin.... because we can build them from source.

Docker and singularity ship a complete OS. They only depend on a small number of kernel modules, and those tend to be backward compatible. And if they were not backward compatible, Docker and Singularity developers could support them by releasing a new version, while

[2020-08-21 14:01] mboisson commented on #5
As I said before, Lmod does not install anything. It merely provides an interface to what's been installed through other means. But those other means are under the control of system administrators, which means we know where and how to install things so that it works well on our infrastructure. In the case of the software Compute Canada provides, we install software on CVMFS, which is a geographica

[2020-08-21 14:14] mboisson commented on #5
This just means that the building a wheel for`scikit-image` package needs to add a strict requirement on the *version* of `numpy`.

Similarly, the problem with allowing installing unsupported binaries is that while they may be able to be copied, it is totally unclear if it will work as intended, or what bugs might occur.

Oh, common... it may or may not be buggy, but it is used by hundreds of othe

[2020-08-21 16:41] kousu commented on #5
Thanks for this discussion, Maxime. It has been enlightening to see what issues come up from the perspective of a distro/sysadmin and to just clarify my thoughts on the whole thing, and will help me inform the team as we go forward with packaging our software for use outside the lab.

[2020-08-24 14:28] jcohenadad commented on #10
Info for fslAchieva + fslPrisma: [fsl.zip](https://github.com/spine-generic/data-multi-subject/files/5118438/fsl.zip)

[2020-08-24 14:55] valosekj commented on #10
Thanks, added into https://github.com/valosekj/data-multi-subject/pull/1. Unfortunately, for fslPrisma subjects, only age and sex were provided (date of scan is still missing).

[2020-08-24 15:09] jcohenadad commented on #10
i've re-sent the email to the researcher

[2020-08-25 16:21] jcohenadad opened #12 "git-annex version problem"
Many users have git-annex v7 by default and don't read the doc. They will bumb into problems, and we will spend time debugging, which i would like to avoid.

solutions?
- re-upload with git-annex v7
- instruct how to install git-annex v8 (eg via conda https://github.com/spine-generic/data-multi-subject/issues/5#issuecomment-675655878), instead of just pointing to [this page](https://git-annex.bran

[2020-08-25 17:23] lrouhier opened #13 "Contributing.md: Instructions not working"
the command `git add yourusername git@github.com:yourusername/data-multi-subject.git` did not work with my username.
I followed the download procedure from the main repo. I also tried with the forked repo to see it that changed anything.
return the error: `fatal: pathspec 'lrouhier' did not match any files`
Isn't that command supposed to be `git add origin git@github.com:yourusername/data-multi-su

[2020-08-25 17:25] lrouhier commented on #13
or prehaps it is `git remote add youusername git@github.com:yourusername/data-multi-subject.git` ?

[2020-08-25 17:52] jcohenadad commented on #13
@lrouhier I also experienced this issue, and @kousu is on holidays, so we need to figure out something else until this issue is resolved.

I was trying to re-do it _without_ going through the fork, but I experienced the following issue:
[code]
<details><summary>Full output</summary>

[code]

</details>

The `git remote` should show `amazon`, but it does not.

<details><summary>`git-annex` installe

[2020-08-25 18:00] jcohenadad commented on #12
Note: the conda installs only works for Linux platform (https://anaconda.org/conda-forge/git-annex), not macOS

[2020-08-25 18:03] jcohenadad opened #14 "Remove && in the doc"
Code instructions here: https://github.com/spine-generic/data-multi-subject#download

have "&&" at the end. This is made to copy/paste all the lines and run it at once, but when trying to run line-by-line (which is encouraged, to make sure each line passes well), it does not run.

So, i would suggest to remove the "&&"

[2020-08-25 18:05] jcohenadad commented on #13
Weirdly, when I do the *exact same thing* on Linux, it works fine:
[code]

[2020-08-25 18:05] jcohenadad commented on #13
@kousu @drulex do you have any idea what's going on?

[2020-08-25 18:05] lrouhier commented on #13
Using a fork, and downloading the data from the fork:

git remote -v shows :
[code]
(I am on linux so that is probably it)

git annex installed via conda

[2020-08-25 18:07] lrouhier commented on #13
Let me try with WSL, I am currently on Rosenberg (because the data is there).

[2020-08-25 18:07] jcohenadad commented on #13
@lrouhier then, what happens if you do `git annex get sub-unf01`?

[2020-08-25 18:09] Drulex commented on #13
Yes it's `git remote add`

[2020-08-25 18:10] lrouhier commented on #13
If the folder is here --> nothing
If i remove it and then run git annex get sub-unf01 I get:
[code]

[2020-08-25 18:11] lrouhier commented on #13
Thanks @Drulex let me try that again with a clean version then.

[2020-08-25 18:18] valosekj commented on #12
This was my case - I am using Debian 10 buster where only `git-annex` v7.2 is available through standard package repositories (https://neuro.debian.net/pkgs/git-annex-standalone.html).
I had two options (or maybe more):
- add Debian 10 testing into `/etc/apt/sources.list` and install `git-annex` v8.2 from backports
- use conda and install `git-annex` v8.2 like is described here - https://github.co

[2020-08-25 18:53] lrouhier commented on #13
As long as we are talking about contributing.md:
[code]

will work *only* if you are using ssh. If you are using https you should use `git remote add yourusername  https://github.com/yourusername/data-multi-subject.git`

[2020-08-25 18:54] lrouhier commented on #13
So the issue seems to come from the `git add ` which should be `git remote add`.

[2020-08-25 18:56] Drulex commented on #13
Yes. Always use ssh :closed_lock_with_key:

[2020-08-25 19:02] jcohenadad commented on #13
@lrouhier can you please fix the documentation? thanks!

[2020-08-26 15:21] jcohenadad commented on #10
@valosekj data for amu: [SOP_Age.xlsx.zip](https://github.com/spine-generic/data-multi-subject/files/5130755/SOP_Age.xlsx.zip)

[2020-08-27 15:13] jcohenadad commented on #10
@valosekj for the Beijing sites: [Spine Generic Beijing Clinical Information.xlsx.zip](https://github.com/spine-generic/data-multi-subject/files/5137259/Spine.Generic.Beijing.Clinical.Information.xlsx.zip)

[2020-08-27 15:20] jcohenadad opened #17 "Fix defacing issue in some subjects"
Port https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/pull/23 in this repos

[2020-08-27 15:50] jcohenadad opened #18 "git-annex: there is no available git remote named "amazon""
@kousu i'm trying to push my changes with git annex, following the recommendations [here](https://github.com/spine-generic/data-multi-subject/blame/95ae0f390b4d9220760d733a3d6c6b560cc6502e/CONTRIBUTING.md#L30), but I am getting the following error:

<details><summary>Full details</summary>

[code]

</details>

[2020-08-27 15:53] jcohenadad commented on #18
However, when running the command without "--content amazon", it seems to work:

[code]

[2020-08-27 15:54] jcohenadad commented on #18
Note (to be added to the doc), the bottom one needs to be selected:

![image](https://user-images.githubusercontent.com/2482071/91465647-0b279480-e85c-11ea-869f-63be9926d978.png)

[2020-08-27 16:05] jcohenadad commented on #7
This PR https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/pull/27 should be ported to the new git-annex repos

[2020-08-27 16:14] jcohenadad opened #21 "CI timeout error"
For ~2 weeks now, the test on Travis does not pass anymore. See eg [this recent build](https://travis-ci.com/github/spine-generic/data-multi-subject/builds/181667371):

[code]

[2020-08-27 16:16] jcohenadad commented on #21
Weirdly, the runtime indicated on Travis is 740s (~12min), whereas the `travis_wait 20` should give us 20min.

[2020-08-27 16:25] lrouhier commented on #21
maybe we should put it before calling travis.sh?
like  "SCRIPT="travis_wait 60 travis.sh" (from https://github.com/cyberFund/cybernode-archive/commit/177cace4949e02def66dd7f36c4dac5bc3c2dd66)

[2020-08-27 18:26] jcohenadad commented on #21
possibly related: https://github.com/datalad/datalad/issues/12

but likely not, because a previous build used the same version of git-annex and passed https://travis-ci.com/github/spine-generic/data-multi-subject/jobs/378457629#L562

[2020-08-27 18:30] jcohenadad commented on #21
@lrouhier not sure what travis.sh you are referring to?

[2020-08-27 18:37] lrouhier commented on #21
Ah My bad I thought that it was similar to spine generic (where we call an external script). Maybe as the first command in the install?

[2020-08-27 19:11] valosekj commented on #10
Thanks 👍 Unfortunately, only sex and age values are included. Date of scan values are missing.

[2020-08-27 19:54] jcohenadad commented on #10
is that a problem? i don't think we need this info for our analysis, do we?

[2020-08-27 20:26] jcohenadad commented on #21
ah! setting travis_wait from 20 to 60 solved it 🎉
https://travis-ci.com/github/spine-generic/data-multi-subject/builds/181697199#L562

[2020-08-27 20:28] #7 closed, assigned to jcohenadad

[2020-08-27 20:33] valosekj commented on #10
It is true. Date of scan is not necessary for analysis. Then, provided info is sufficient.

[2020-08-27 20:34] jcohenadad commented on #21
Fixed by https://github.com/spine-generic/data-multi-subject/pull/22

[2020-08-27 20:34] #21 closed, assigned to nobody

[2020-08-27 22:28] jcohenadad opened #23 "How to do a git rebase master"
Working on a branch, I wanted to update it with a recently-updated master branch.

I went ahead with the traditional `git rebase master`, but encountered the following issue:

<details><summary>Full details</summary>

[code]

</details>

What's strange, is that the branch `jca/17-defacing` started of from `master`, the problematic files listed above where updated **only in `jca/17-defacing`** (not

[2020-08-27 22:30] jcohenadad commented on #23
I tried the command indicated [here](https://github.com/spine-generic/data-multi-subject/blob/master/CONTRIBUTING.md#a-cosmetic-problem-affecting-git-status), but it didn't help:

<details><summary>Full details</summary>

[code]

</details>

[2020-08-27 22:37] #17 closed, assigned to nobody

[2020-08-27 22:40] jcohenadad commented on #23
Since this was urgent, I went ahead and clicked on "rebase and merge" directly on github (without being able to rebase and wait for travis)

[2020-08-27 23:22] jcohenadad opened #24 "Data were not synced from my local repos to amazon"
## Context

I have cloned the git-annex repos on my laptop, and use it to push on amazon s3. So far, everything was working fine.

Recently, I made some changes on my local repos, and synced it (or I _thought_ I did) to Amazon, by doing the following procedure:
[code]

Note: I wanted to do `git annex sync --content amazon` after the commit, according to our [procedure](https://github.com/spine-gen

[2020-08-27 23:23] jcohenadad commented on #24
With only one file (easier to debug), and git remote at the end:
[code]

@kousu in case you see this... help needed 🙏

[2020-08-27 23:27] jcohenadad commented on #23
Even more problematic:
- i renamed the local repos
- did a fresh git clone, git annex init and git annex get, but ran into this:
[code]

does git-annex know i have another local copy somewhere??

[2020-08-28 00:20] Drulex commented on #23
Did you clone from your filesystem?

Unfortunately I don't have extensive experience with `git-annex` and documentation on using it with the PR model seems to be scarce. Also the fact that the `status` command can glitch isn't the most reassuring thing..

Did you sync to S3 before making your PR/rebase?

[2020-08-28 00:58] jcohenadad commented on #23
I'm not sure I understand the question, but I did exactly as instructed [here](https://github.com/spine-generic/data-multi-subject#download)

Hum, I don't think I did. I only did a `git pull` on master, then went on my branch and did the rebase.

[2020-08-28 01:35] jcohenadad commented on #24
On my local laptop (the one I pushed the data from), I get this:
[code]

So, for some reasons, the data were not pushed to amazon. I don't know why, and I don't know how to fix this.

[2020-08-28 01:47] jcohenadad commented on #24
Hum, my local repos on the laptop might have a problem. When I do this:
[code]

Whereas on compute canada, i get that:
[code]

[2020-08-28 12:11] jcohenadad opened #25 "Cannot delete git-annex directory"
Getting this:
[code]

I remember @kousu had a trick, but i forgot what it was. We should document it.

[2020-08-28 20:24] jcohenadad opened #26 "Add license"
LGPLv3

[2020-08-29 20:00] jcohenadad commented on #22
fixed

[2020-08-29 20:00] #22 closed

[2020-08-29 20:02] jcohenadad commented on #6
use: https://github.com/ivadomed/ivadomed/wiki/repositories#derivatives

[2020-08-29 20:02] #6 closed

[2020-08-30 14:23] jcohenadad commented on #24
The labels that were supposed to be added in https://github.com/spine-generic/data-multi-subject/pull/15 are needed ASAP for further experiments, so I will try to retrieve them and push them to the main git-annex repos.

starting directly from @lrouhier branch:
[code]

[2020-08-30 14:27] jcohenadad commented on #24
@lrouhier i'll try to copy the labels on my local station and re-upload to amazon. Are the labels still there?
[code]

[2020-08-30 14:37] jcohenadad commented on #24
Assuming the answer to https://github.com/spine-generic/data-multi-subject/issues/24#issuecomment-683427229 is yes, i went ahead and tried syncing one label:
[code]

[code]

Now, going to Github to see if I can open a PR, I don't see my branch 😭  (usually, three PR choices appear, now there are only two):
![image](https://user-images.githubusercontent.com/2482071/91661949-4f5da380-eaad-11ea-9823-8

[2020-08-30 14:51] lrouhier commented on #24
The answer is yes the data are there.

[2020-08-30 14:53] jcohenadad opened #33 "enableremote amazon git-annex: Unknown remote type S3"
Maybe the problem I've been having in https://github.com/spine-generic/data-multi-subject/issues/24 is related to the fact that amazon remote does not seem to be enabled on my repos:

[code]

But then:
[code]

Making sure I have the correct git-annex version:
[code]

[2020-08-30 18:32] jcohenadad commented on #33
However, based on this comment https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/issues/20#issuecomment-669456435, with `autoenable=true`, it seems like `git-annex enableremote amazon` is not required after all 🤷‍♂️

[2020-08-30 18:38] jcohenadad commented on #24
Maybe there is something wrong with my local repos, so trying to create a new one from scratch:
[code]
Hum... the message `Remote origin not usable by git-annex; setting annex-ignore` might not be a good sign... or is it? @drulex @kousu ?

cat .git/config gives me:
[code]

which seems to be missing the following piece (present in my other local repos):
[code]

[2020-08-30 18:53] jcohenadad commented on #24
Maybe the problem is because i cloned via https instead of ssh. So, trying again with ssh:
[code]
Now trying the init again:
[code]
interestingly, the error message is slightly different than previously https://github.com/spine-generic/data-multi-subject/issues/24#issuecomment-683454915.

<details><summary>cat .git/config (still no remote "amazon")</summary>

[code]

</details>

[2020-08-30 18:57] Drulex commented on #24
It's normal to see this message, because the `origin` remote is `Github` and indeed it does not have `git-annex` support.

[2020-08-30 19:36] jcohenadad commented on #24
Thank you for the quick reply @Drulex. However, it seems that something got "broken", because I don't seem to be able to retrieve the data from amazon anymore using the commands which used to work previously. If you have any clue, that would be hugely appreciated.

[2020-08-30 19:44] jcohenadad opened #34 "Manual retrieve of the labels-disc because of git-annex issues"
Because of the git-annex issue #24 and the fact that we cannot wait anymore for the issue to be fixed (we have hard deadlines to analyze data), I had no choice but manually copy the labels produced by @lrouhier directly from our internal server. Below are the command lines I used to bundle these manual labels:

1. zip label files by keeping the directory structure:
[code]

2. copy them onto comput

[2020-08-30 20:17] Drulex commented on #24
Indeed I can see that some files can't be retrieved.. I will try to take a look later tonight, it's definitely related to recent commits. Perhaps not all branch were merged as supposed to (although it's hard to say because there isn't a whole lot of documentation on `git-annex` and the pull request model).

[2020-08-30 20:30] jcohenadad commented on #24
thanks. If it could be of any help, it is definitely possible for me to re-do the latest commits (and do a "hard reset" to a point where things are working).

[2020-08-30 23:59] Drulex commented on #24
It looks like files stopped resolving at commit 2598880e3301065e68e475064ad69f1671697a8d.

In the snippet below I reset the branch to that specific commit and try to download on of the files that was committed.

[code]

So it appears that the files exist on @jcohenadad's filesystem, but weren't synced to `amazon`. Are you sure that you uploaded the files to amazon using the `git annex sync --conte

[2020-08-31 00:02] Drulex commented on #24
Ok I just read the issue description (sorry I hadn't) and yes indeed you did not upload the files to amazon. `git annex sync` will only sync the git metadata (i.e update the pointers to the files), but unless you do `git annex sync --content` the files are not actually uploaded to the remote.

Relevant: https://github.com/spine-generic/data-multi-subject/issues/18#issuecomment-683489951

[2020-08-31 00:06] Drulex commented on #18
This does not upload the files to the remote. You need to run `git annex sync --content` to upload the actual files. `sync` only synchronizes the git repositories, not the data. (ref https://git-annex.branchable.com/sync/)

[2020-08-31 00:08] Drulex commented on #18
Try without specifying the remote `amazon` maybe? I'm guessing it has to do with the version of `git annex`. What version are you running?

[2020-08-31 00:21] jcohenadad commented on #18
8.2

i did try without specifying amazon, but it didn’t upload either

[2020-08-31 00:27] Drulex commented on #18
output of `git annex list`?

[code]

[2020-08-31 00:28] Drulex commented on #18
Maybe also try to enable it (it should be enabled by default, but who knows).

[code]

[2020-08-31 00:31] jcohenadad commented on #18
that's been my nightmare command for the past 7 days (https://github.com/spine-generic/data-multi-subject/issues/33)
[code]

[2020-08-31 00:33] jcohenadad commented on #18
and git-annex list:
[code]

[2020-08-31 00:35] jcohenadad commented on #18
i'm beginning to think that there might be something wrong with my installed version of git-annex:
[code]
@Drulex what does your output says at the line "remote types"? does yours include "amazon"

[2020-08-31 00:37] Drulex commented on #18
Sounds like a `git annex`/build problem. I stumbled upon this https://git-annex.branchable.com/forum/Unknown_remote_type_S3/ (although very old, but maybe still relevant?).

[code]

It does.

[2020-08-31 00:41] jcohenadad commented on #18
wow, this is crazy. Does it mean that the "brew" version of git-annex 8 for macOS does not include the same features as the linux version you are using? did you install it via conda?  If so, and if this is indeed the problem, that's annoying because conda version of git-annex 8 does not cover macOS (AFAIK)

[2020-08-31 00:41] Drulex commented on #18
I'm starting to like the built-in LFS feature of Github a lot more..

[2020-08-31 00:45] Drulex commented on #18
The program can be built with different options, S3 remote support being on of them. I you use the pre-built binary from your package manager you would need to check with what options it was built (evidently it's missing S3).

If you are brave enough you can build from source https://git-annex.branchable.com/install/fromsource/, but I wouldn't consider this acceptable for a user who just wants to

[2020-08-31 00:53] jcohenadad commented on #18
100% agreed

[2020-08-31 16:31] jcohenadad commented on #10
@valosekj for vallHebron: [Info_MULTI_SC_BCN.xls.zip](https://github.com/spine-generic/data-multi-subject/files/5151456/Info_MULTI_SC_BCN.xls.zip)

i'd like to make sure that the numbers 1, 2, 3 in the xsl sheet correspond to sub-xx1, sub-xx2, etc.
@alexfoias : can you confirm?

[2020-08-31 17:29] valosekj opened #35 "Processing issues in r20200830: GM and MTS segmentation"
Here, I list data quality issues related to [r20200830](https://github.com/spine-generic/data-multi-subject/releases/tag/r20200830) release.

I focused on outliers in generated figures by `sq_generate_figures.py`.

So far, I found problems with MT SC segmentations:

<details><summary>Bad SC segmentation sub-fslAchieva03_acq-T1w_MTS_seg.nii.gz</summary>
<img width="946" alt="image" src="https://use

[2020-08-31 17:34] evaalonsoortiz commented on #35
From the figures I generated, I identified the following outliers:

<details>
<summary>MTR: geneva02</summary>
<br>
QC images do not show any obvious segmentation or labeling errors
<img width="777" alt="Screen Shot 2020-08-31 at 1 49 18 PM" src="https://user-images.githubusercontent.com/6652194/91750254-c881f700-eb90-11ea-9cd5-467e6cafa0e8.png">
<img width="1255" alt="Screen Shot 2020-08-31 at 1

[2020-08-31 17:39] valosekj commented on #10
@alexfoias could you please also verify, if number lines corresponds with sub-xx1, sub-xx2, etc. for fslAchieva subjects? I assumed so.

[2020-08-31 20:05] alexfoias commented on #10
Yes, the numbers 1, 2, 3 in the xsl sheet correspond to sub-xx1, sub-xx2, etc.

[2020-08-31 20:16] alexfoias commented on #10
@valosekj Yes, I checked the number lines corresponds with sub-xx1, sub-xx2, etc. for fslAchieva subjects.

[2020-09-01 15:33] jcohenadad commented on #35
@evaalonsoortiz was it included in the figure generation (in that case it's a bug)?

same thing for geneva02/mtr: https://github.com/spine-generic/data-multi-subject/blob/master/exclude.yml#L14

[2020-09-01 15:34] jcohenadad commented on #35
--> need to exclude

[2020-09-01 15:39] jcohenadad commented on #35
@valosekj @evaalonsoortiz can you please move the list of data quality issue to the [specific issue with respective contrast](https://github.com/spine-generic/data-multi-subject/issues?q=is%3Aopen+is%3Aissue+label%3A%22data+quality%22) (create one if does not exist). The purpose of these "data-quality" issue are to gather all problems with data quality. It is *not* specific to a release (ie no rel

[2020-09-01 16:23] evaalonsoortiz commented on #35
Ah, no my bad. I did not exclude any subjects, I had assumed those were excluded when the processing step is taken.

[2020-09-01 17:13] kousu commented on #18
😢

git annex claims to be future-proofed (https://git-annex.branchable.com/future_proofing/) but that only seems to be true *if you are a single person using multiple systems that are all running the same OS*. It's not designed for with pull requests or branches or collaboration in mind.

datalad is attempting to corral all this, adding helpful auto-enable flags and settings, but IMO they are just

[2020-09-01 17:34] Drulex commented on #18
SSH remote is great for contributors, but what would be the preferred configuration to have public reads and private writes for a filesystem remote on a VPS? I can't find any info online.

Can we serve a read-only repo via `git` or `https` protocol and read/write via `ssh`?

(looked back at the spreadsheet and we can get a vps at OVH with **unlimited** traffic and 660GB storage for 75CAD/mo)

[2020-09-01 18:20] valosekj opened #36 "Poor data quality: MT"
**sub-fslAchieva03_acq-T1w_MTS.nii.gz**
<img width="943" alt="image" src="https://user-images.githubusercontent.com/39456460/91892749-dd977c80-ec9b-11ea-95e6-910a0533bb2d.png">

**sub-fslAchieva04_acq-T1w_MTS.nii.gz**
<img width="949" alt="image" src="https://user-images.githubusercontent.com/39456460/91891519-d96a5f80-ec99-11ea-8789-d899ee9e8393.png">

**sub-fslAchieva05_acq-T1w_MTS.nii.gz**
<img

[2020-09-01 18:23] jcohenadad commented on #36
@valosekj these issues are _only_ about data quality (not about issues with segmentations, which should be dealt with in release-specific issues, like #35), which hamper the relevance/quality of the output qMRI metrics. E.g., strong motion, aliasing, etc.

[2020-09-01 18:31] valosekj commented on #36
Oh, sure, I didn't realize it. I updated comment.

[2020-09-01 19:30] kousu commented on #33
From https://github.com/spine-generic/data-multi-subject/issues/18#issuecomment-683494397

This looks indeed like a version problem. You did did `brew install git-annex` right?

Here's mine, from `pacman -S git-annex`:

[code]

Both claim to be the same version, but obviously they're not because they have different plugins compiled in.

This is the build script you would have used: https://github.

[2020-09-01 19:37] kousu commented on #33
It looks like either https://github.com/Homebrew/homebrew-core/pull/59330/files (switching build scripts) or https://github.com/Homebrew/homebrew-core/pull/59470/files (bumping the version number) caused a regression.

I'm going to try https://stackoverflow.com/a/4158763 to try installing an older version and open a bug report with brew.

In the meantime, can you use conda's version?

[2020-09-01 20:39] jcohenadad commented on #33
Installing older version of brew (thanks @kousu ):
[code]

Fixing my local repos:
[code]

Problem: my local copy did _not_ have the actual files (only the symlinks), so i manually copied them from our internal server, and added them to the local repos:
[code]

Removing dead mirrors:

[2020-09-01 20:44] kousu commented on #33
For the record: no, @jcohenadad can't use conda's version because conda only packages git-annex for linux: https://anaconda.org/conda-forge/git-annex/files ([archive](http://web.archive.org/web/20200901204016/https://anaconda.org/conda-forge/git-annex/files), [archive](https://archive.is/UwBP2)).

[2020-09-01 21:26] kousu commented on #14
Sorry about that. It should read `&& \ `, that's the convention for sharing long lines for pasting.

[2020-09-01 22:12] jcohenadad commented on #34
issue is now fixed (thanks @kousu !) more context in  #24

[2020-09-01 22:12] #34 closed, assigned to nobody

[2020-09-01 22:32] kousu commented on #13
Sorry about that!

Looks like this was fixed in https://github.com/spine-generic/data-multi-subject/commit/7e55c36ae5f0cfaf6b0ae22b0f81e960c511a7ca#diff-6a3371457528722a734f3c51d9238c13 ?

This could be more reliable

[code]

but I am worried that might end up corrupting the metadata, especially if you have multiple forks involved so I didn't want to recommend it.

Think we can close this now?

[2020-09-01 22:57] kousu commented on #18
I thought a little about No. We can't.I

Of duh, of course. Yes, that's a major stumbling block.

I thought a little bit about this. The problem is that git-annex's ssh remote is implemented as an ssh command (much like rsync), so it only works over `git+ssh://`. It doesn't have a `git+https://` implementation. I don't know enough about git to know how hard that would be to write.

Another way wou

[2020-09-01 22:57] kousu commented on #18
I have a long-term blue-sky solution: fork git itself and add the hook in there. I am thinking it should be implemented as `git config core.lazy`; the way it would work is, when enabled:

[code]

downloads all the **trees**, **branches** and maybe **tags** but skips **objects**. Then

[code]

would download the **objects**, but only those objects needed for.

Since `git clone ~= git fetch && git c

[2020-09-02 01:22] kousu commented on #14
The `&&` is important! You don't want to keep on if one step fails. This is one of the 99 pitfalls of shell.

[2020-09-02 01:37] jcohenadad opened #39 "Poor data quality: T2w"
**sub-beijingVerio02**

![image](https://user-images.githubusercontent.com/2482071/91922165-43373900-ec9b-11ea-88ea-e8ba436f904b.png)

**sub-pavia04**

![image](https://user-images.githubusercontent.com/2482071/91922465-1d5e6400-ec9c-11ea-8114-2d2aec2a22bb.png)

[2020-09-02 01:54] jcohenadad commented on #35
GM seg to fix:
![image](https://user-images.githubusercontent.com/2482071/91923134-98744a00-ec9d-11ea-8d7f-333e6abef998.png)
![image](https://user-images.githubusercontent.com/2482071/91923261-ebe69800-ec9d-11ea-8801-0da1667d3f64.png)
![image](https://user-images.githubusercontent.com/2482071/91923465-6c0cfd80-ec9e-11ea-9163-765626b24625.png)
![image](https://user-images.githubusercontent.com/2482

[2020-09-02 02:13] jcohenadad commented on #14
so, i'm not sure what "&&" does, but my approach is always to run line by line (no copy/paste of all the lines at once). And as you said, if it fails, i stop running the subsequent lines.

[2020-09-02 20:03] jcohenadad opened #41 "git-annex: pushed data on amazon, not seen from other local stations"
as part of https://github.com/spine-generic/data-multi-subject/pull/40 i just pushed some data to amazon:

[code]

However, [Travis does not see the data](https://travis-ci.com/github/spine-generic/data-multi-subject/builds/182485791#L1257), and when trying on compute canada, it's even worse (ie: local copy on julien-laptop is even not shown):
[code]

what is going on???

maybe the julien-laptop m

[2020-09-02 20:21] jcohenadad commented on #41
what is mind-boggling is that the SHA256 is pushed to the branch:
https://github.com/spine-generic/data-multi-subject/blob/34c6c70bc2e4c2a874c5f1da340188b0e8cd00c7/derivatives/labels/sub-tokyoIngenia03/anat/sub-tokyoIngenia03_T2star_rms_gmseg-manual.nii.gz#L1

and the associated URL on amazon _does_ work (ie: data can be downloaded):
https://data-multi-subject---spine-generic---neuropoly.s3.ca-cen

[2020-09-03 01:21] kousu commented on #41
I think you forgot to `git annex sync origin`. `git annex sync --content amazon` syncs the data, but you missed syncing the metadata after that.

[2020-09-03 01:25] jcohenadad commented on #41
trying to fix it (thanks @kousu):
[code]

[2020-09-03 01:26] kousu commented on #41
I thought that should fix it, but it didn't seem to work:

[code]

[2020-09-03 01:28] kousu commented on #41
oh I was just on the wrong branch. It works:

[code]

[2020-09-03 02:05] kousu commented on #41
So fixed?

[2020-09-03 02:05] #41 closed, assigned to nobody

[2020-09-03 14:13] #14 closed, assigned to nobody

[2020-09-03 14:20] jcohenadad opened #42 "How to git rebase if there are conflicts with the metadata"
After merging #37, I wanted to update #40 with master. So I did the following:
[code]

<details><summary>detailed output</summary>

[code]

</details>

Given that there seem to be some conflicts with the metadata, I am not sure what is the best way to fix them.

[2020-09-03 14:26] jcohenadad commented on #42
As indicated in the message, this is a cosmetic glitch, which is also discussed in [our documentation](https://github.com/spine-generic/data-multi-subject/blob/master/CONTRIBUTING.md#a-cosmetic-problem-affecting-git-status).

So, I went ahead and ran:
[code]

<details><summary>But it seems the rebase doesn't want to continue...</summary>

[code]

</details>

[2020-09-03 14:28] jcohenadad commented on #42
Then I did the following (still no success):
[code]

[2020-09-03 14:30] jcohenadad commented on #42
ah! but looking at the log, it seems like the rebase worked:
[code]

then i pushed, and it fixed it (i hope i didn't break anything...):
[code]

[2020-09-03 14:30] #42 closed, assigned to nobody

[2020-09-03 14:32] jcohenadad commented on #35
GM segmentation fixed in https://github.com/spine-generic/data-multi-subject/pull/40

[2020-09-03 14:35] jcohenadad commented on #36
I would remove (for MTsat and T1):
- sub-fslAchieva04_acq-T1w_MTS.nii.gz
- sub-beijingPrisma01_acq-T1w_MTS.nii.gz

The other scans seem acceptable.

[2020-09-03 16:34] valosekj commented on #36
Okay, I'll open PR with updated `exclude.yml` file.

Other scans which look acceptable (`sub-fslAchieva03_acq-T1w_MTS.nii.gz`, `sub-fslAchieva05_acq-T1w_MTS.nii.gz`, `sub-fslAchieva06_acq-T1w_MTS.nii.gz`) are already listed in [exclude.yml](https://github.com/spine-generic/data-multi-subject/blob/master/exclude.yml) under `t1` key:

https://github.com/spine-generic/data-multi-subject/blob/91bb13eb

[2020-09-03 16:39] jcohenadad commented on #36
the segmentations did not seem crazy to me, but we'll see. @alexfoias did them, so i'll upload them asap and we can re-run the processing and re-assess. Other things to check:
- are the acquisition parameters OK? (Look the BIDS-checker in Travis)
- Do you see anything wrong with the other contrasts (MT0 and MT1)?

[2020-09-03 19:14] kousu commented on #42
In theory there's no way to cause conflicts in the metadata -- in the `git-annex` branch -- because it's careful about how it edits that to prevent conflicts. If conflicts do happen in that branch I don't know how to fix it; hopefully it never happens and if it does we can go in with a spanner.

This case was instead a problem with `update-index`, which it looks like you solved.

[2020-09-03 19:18] kousu commented on #14
It's an "and". As a side-effect, "A && B" means "Do A then do B only if A succeeded". Most people aren't as careful as you are about following instructions, and it's not always obvious from a program's output *if* it failed (especially if the output is either very long or if you're running it through pipes to do further processing), so this is a better rule of thumb.

((another option is to do `se

[2020-09-03 20:17] jcohenadad commented on #35
MTS segmentations fixed in #43

[2020-09-03 20:17] #35 closed, assigned to nobody

[2020-09-03 20:25] jcohenadad opened #44 "r20200830: Figuring out bad results for MTsat"
MTsat data are poorly reproducible:

**From: r20200830:**

![fig_mtsat](https://user-images.githubusercontent.com/2482071/92163094-2157c680-ee01-11ea-86c8-cb0485e1ecc8.png)

The purpose of this issue is to discuss potential causes.

**sherbrooke**
- MTsat=0.000110555005470231.
- Data look OK
- acq params: -trmt 00645023 -trpd 00645023 -trt1 0015 -famt 9 -fapd 9 -fat1 15 --> ⚠️   should be 64ms (no

[2020-09-03 20:38] jcohenadad commented on #44
That's the MTsat map from **sub-sherbrooke03** 😅 :

![image](https://user-images.githubusercontent.com/2482071/92164739-d4292400-ee03-11ea-81de-74323b1ca4a5.png)

[2020-09-03 20:53] jcohenadad commented on #44
So, there is a first identified problem: fetching acquisition parameters from the json file.

Example for sub-sherbrooke, the json is:
[code]
But the extracted param by the code is `00645023` (the comma disappeared).

[2020-09-04 12:28] valosekj commented on #36
I have found difference in `RepetitionTime` in `*_acq-T1w_MTS` files between fslAchieva subjects:

Subjects with standard value of T1 metric have repetition time = 0.015. Outlier subjects have = 0.103.

[code]

[2020-09-04 12:45] jcohenadad commented on #36
wow! great catch @valosekj 👍

[2020-09-04 16:57] jcohenadad commented on #44
**Updated from r20200904:**

![fig_mtsat](https://user-images.githubusercontent.com/2482071/92266996-2cb4fb80-eeae-11ea-9a09-ba4aa000c250.png)

[2020-09-04 17:04] jcohenadad commented on #44
another strange thing is that there are three spots for dresden, whereas this site only has two subjects 🤨

[2020-09-04 20:52] kousu commented on #24
I've got a patch for this ready: https://github.com/Homebrew/homebrew-core/pull/60667

I'm just testing it now. It should be published by the end of the week and then we can put this behind us.

[2020-09-05 00:18] kousu commented on #18
This is https://github.com/Homebrew/homebrew-core/issues/60505. I've patched it. Just waiting for homebrew to accept the patch.

[2020-09-05 00:18] #18 closed, assigned to nobody

[2020-09-07 23:10] jcohenadad commented on #36
fslAchieva-01 and 02 are _also_outliers, with MTsat values around 7.

json file for MTon/off:
[code]

Ah! the problem might be related to the signal quantization which might differ between the MTon/off and the T1w scan:

MT on/off:
[code]

T1w:
[code]

Whereas for vuissAchieva, which yields MTsat values of ~5.5 (like the other Philips sites), the field `PhilipsScaleSlope` is the same between the M

[2020-09-08 15:57] jcohenadad opened #46 "r20200907: Processing issues"
### sct_register_multimodal (MTS)

The issues below are fairly minor and do not mandate re-processing before submitting the article, but some of the issues could be improved in future iterations (notably the glitches in segmentation/mis-registrations).

**sub-amu03_acq-MToff_MTS.nii.gz** --> OK, within 95% CI

![image](https://user-images.githubusercontent.com/2482071/92500838-bd9c1780-f1cb-11ea-9

[2020-09-10 16:18] jcohenadad commented on #10
@alexfoias info for dresden:
[code]

[2020-09-10 16:23] jcohenadad commented on #44
that was a bug in the job launch script-- now corrected in r20200907:

![fig_mtsat](https://user-images.githubusercontent.com/2482071/92762335-7bf0a580-f360-11ea-93f9-eacede463230.png)

[2020-09-10 22:06] jcohenadad opened #49 "Add license"

[2020-09-12 14:29] jcohenadad opened #51 "Add DOI"
Instructions: https://genr.eu/wp/cite/

Also do for the single-subject dataset

[2020-09-15 19:26] #10 closed, assigned to nobody

[2020-09-22 07:52] kousu commented on #23
I'm 80% confident that this is entirely due to that "cosmetic" glitch that git-annex has. But I'm also only 80% confident in my workaround. Maybe `git status` was outputting those files as "added" instead of "modified", or reworded modified, or maybe it was outputting in french; there's a lot of ways my workaround could be buggy.

When it happens again paste the output of the plain `git status`.

[2020-09-22 08:10] kousu commented on #25
Just `sudo` it.

git-annex is extra-paranoid even more than regular git, and sets all the files and even their containing folders read-only. `-f` can't override that. You could also do `chown -R +w data-multi-subject/.git/annex; rm -r data-multi-subject`.

I'll put this on my list of complaints about git-annex.

[2020-09-22 18:41] jcohenadad commented on #25
oopsi 😬
[code]

[2020-09-22 18:43] jcohenadad commented on #25
[code]

[2020-09-22 21:52] kousu commented on #25
This is what I get for answering threads late at night! Try this:

[code]

[2020-09-23 19:23] renelabounek opened #52 "cmrra where is minimally one data point over dataset?"
I have checked cmrra (6 subjects submitted) and cmrrb (7 subjects submitted) dots over manuscript graphs and it looks like one subject was mostly excluded from the cmrra dataset, i.e.:

figure 13 – 5 dots
figure 14 – 6 dots
figure 16 – 4-5dots not sure
figure 17 – 5 dots
figure 18 – 4 dots
figure 19 – 5 dots

I have not found any poor data quality report for the cmrra dataset at: https://github.co

[2020-09-25 01:44] jcohenadad commented on #52
there is no cmrra subject excluded from 830992b: https://github.com/spine-generic/data-multi-subject/blob/master/exclude.yml

maybe the dots overlap? it would be more reliable to look at the actual csv file from the [latest results](https://github.com/spine-generic/data-multi-subject/releases/download/r20200917/results_r20200917.zip)

[2020-09-25 01:46] renelabounek commented on #52
Ok, I will double-check it tomorrow. Thanks

[2020-09-25 14:59] jcohenadad opened #54 "Only MTR is listed in the log_stats.txt file of r20200917"
[log_stats.txt](https://github.com/spine-generic/data-multi-subject/files/5283528/log_stats.txt)

To fix in the next release

[2020-09-29 01:05] renelabounek commented on #52
Very sorry for the cunfusion, I hve double-check all result .csv files and 6 datapoints are in all .csv files for the cmrra dataset.
Rene

[2020-09-29 01:05] #52 closed, assigned to nobody

[2020-09-29 20:07] jcohenadad commented on #8
now fixed

[2020-09-29 20:07] #8 closed, assigned to nobody

[2020-09-29 20:13] jcohenadad commented on #13
issue fixed

[2020-09-29 20:13] #13 closed, assigned to nobody

[2020-09-30 16:24] jcohenadad opened #56 "Add heights and weight in participants.tsv"
The rationale for adding this information is to investigate potential correlates with cord CSA.

A suggestion would be to insert the following columns after "age" (example of value types are shown in the 2nd row, note: columns after date_of_scan are not shown for clarity):

| participant_id | sex | age | height | weight | date_of_scan |
|----------------|-----|-----|--------|--------|-------------

[2020-09-30 16:56] renelabounek commented on #56
I would suggest to add there also columns **height_record** and **weight_record** with 3 possible choices:

choice 1 - **questionnaire** (i.e. approximate values with potential low accuracy)
choice 2 - **measured_prior_MRI** (i.e. exactly measured values)
choice 3 - **no_record** (i.e. not recorded or not shared information by the contributor)

I would also suggest to add units into the table head

[2020-09-30 17:01] jcohenadad commented on #56
I don't find it relevant enough, and anticipate confusions with this entry. I think we can assume that people know their weight/height (the same way they know their age). Moreover, choice 3 is implied by height/weight having the value "-"

according to the BIDS convention this information goes in [participants.json](https://github.com/spine-generic/data-multi-subject/blob/master/participants.json)

[2020-09-30 17:08] renelabounek commented on #56
Ok but in general, I still think many people tend to fill lower weight than the reality can be. Or they have not simply weighted themselves for several years and filled the last known value. Somettimes, one year old information can easily make 10kg variance.

[2020-09-30 17:17] jcohenadad commented on #56
i still don't think we should add these columns:
- i don't think a bit of noise will be detrimental to this study...
- what would we do if we had the information about _how_ the weight was acquired? get rid of the points? weight them differently in the analysis? if so, how differently? that opens a Pandora box
- i don't think many of the 260 subjects were physically weighted and measured before th

[2020-10-02 01:11] #26 closed, assigned to nobody

[2020-10-05 16:48] renelabounek commented on #56
I discussed it with Igor Nestrasil, he agrees with you to keep the database as simple as possible. Just to clarify your questions:

Ad point 1: Hopefully not, but you can not be fully sure.

Ad point 2: You can filter only "exactly" measured data points if you want and investigate whether estimated values blurr your results or not. Might be important e.g. for the development of CSA normalization p

[2020-10-06 20:58] jcohenadad opened #58 "Address scaling issues"
Following on https://github.com/spine-generic/data-multi-subject/issues/36#issuecomment-688535998:

Some scans (notably on Philips) might have different signal quantization between the MTon/off and the T1w scan:

MT on/off:
[code]

T1w:
[code]

Here is a relevant comment from Guillaume Gilbert:

This is problematic for computing MTsat, and the effect needs to be accounted for in the analysis pipel

[2020-10-09 08:15] valosekj commented on #56
We have traced weight and height for `brnoCeitec` site:

[code]

During searching for weight and height, we find out two things to note:

- age in [participants.tsv](https://github.com/spine-generic/data-multi-subject/blob/master/participants.tsv#L32) does not correspond for all `brnoCeitec` subjects precisely (e.g. for `sub-brnoCeitec03`, `04`, `05`, `06`). Age above is extracted directly from MR

[2020-10-09 15:18] renelabounek commented on #56
@valosekj heigt, weight and scan date typo updated, see more details about changes here: https://github.com/spine-generic/data-multi-subject/pull/57
Changes in ages lets at @jcohenadad or other database admins.

[2020-10-16 09:48] leandervaneekelen opened #59 "Unpaired annotation"
I noticed that in folder `derivatives/labels/` there exists a group of segmentations  `sub-brno0{1:9}` that don't have corresponding images in the main folder. Is this some legacy annotation of are the images missing?

[2020-10-16 14:45] jcohenadad commented on #59
good catch @leandervaneekelen 🎉
here is the culprit: https://github.com/spine-generic/data-multi-subject_DO-NOT-USE/issues/10

we need to fix this inconsistency (rename the seg)

[2020-12-02 19:21] jcohenadad opened #65 "Fix CI badge"
![image](https://user-images.githubusercontent.com/2482071/100920727-85923100-34a9-11eb-9382-1c5b7f441382.png)

the image should be more like:
![image](https://user-images.githubusercontent.com/2482071/100920795-9fcc0f00-34a9-11eb-999f-47fca482c34d.png)

and also, it should point to the CI: https://github.com/spine-generic/data-multi-subject/actions?query=workflow%3A%22Python+application%22

[2020-12-02 19:25] jcohenadad commented on #65
Actually, would it be possible to call it: "BIDS Validator", as suggested in https://github.com/spine-generic/data-single-subject/pull/16/files#r534423818

[2020-12-02 21:37] alexfoias opened #67 "Eliminate false positives in Checking data consistency"

[2020-12-02 21:38] alexfoias commented on #67
Same for https://github.com/spine-generic/data-single-subject/issues/17

[2020-12-03 22:26] #65 closed, assigned to nobody

[2020-12-04 21:01] jcohenadad opened #68 "Gender should be changed for sex"
https://github.com/spine-generic/data-multi-subject/blob/2bfd18a4e18039433b1e07642dbadf3b5a3ce5b9/participants.json#L7

[2020-12-10 17:04] alexfoias commented on #68
@kousu Can I create a branch ? and open a PR ? or directly push the change?

[2020-12-10 20:59] kousu commented on #68
The .json files are not annexed. You can tell because you can see them here in the Github UI, and you can just edit them right there with Github's Edit button, and that'll make PR.

[2020-12-10 21:00] kousu commented on #68
Like:

This is an annex pointer:

https://github.com/spine-generic/data-multi-subject/blob/2bfd18a4e18039433b1e07642dbadf3b5a3ce5b9/sub-vuiisAchieva01/dwi/sub-vuiisAchieva01_dwi.nii.gz#L1

this is a regular file in git:

https://github.com/spine-generic/data-multi-subject/blob/2bfd18a4e18039433b1e07642dbadf3b5a3ce5b9/sub-vuiisAchieva01/dwi/sub-vuiisAchieva01_dwi.json#L1-L10

[2020-12-12 00:43] #68 closed, assigned to alexfoias

[2021-01-11 13:27] leandervaneekelen opened #71 "Source of manual segmentation/correction of CSF"
All subjects with `_T2w_csf-manual.nii.gz` seem to be missing their accompanying JSON sidecars where the author of the segmentation is documented. Do we know who did these/how they were made? Manual correction of `sct_propseg` output?

For reference, the subjects with `csf-manual` files:

<details>
<summary>Click</summary>

[code]

[2021-01-11 16:05] jcohenadad commented on #71
@charleygros do you remember who it was? maybe you or Anthime?

[2021-01-11 21:26] charleygros commented on #71
Oh, It was actually me, manual correction of `sct_propseg` output!

[2021-01-11 21:28] jcohenadad commented on #71
@alexfoias can you pls create and upload the JSON files for these? thanks!

[2021-01-12 15:29] alexfoias commented on #71
@leandervaneekelen I'm taking care of it.

[2021-01-13 16:51] alexfoias opened #73 "Gh action fails"
Example here: https://github.com/spine-generic/data-multi-subject/runs/1696448913

The issue seems to come from:

[code]

[2021-01-13 17:16] #73 closed, assigned to nobody

[2021-01-14 17:18] #71 closed, assigned to nobody

[2021-01-21 06:33] kousu opened #75 "Grant contributors Amazon S3 access for PRs"
git-annex makes it difficult to use multiple annexes, meaning the fork-and-pull-request model of contribution is awkward: a contributor would need to find their own annex hosting and temporarily add it (globally!) to the repo's `git-annex` metadata, and then the person who accepts the PR would need to remember to `git annex copy --from contributor; git annex copy --to amazon` everything.

So, we'r

[2021-01-21 06:34] kousu commented on #75
I have to do this for someone sometime in the next couple of weeks. I'll take screenshots as I go (censoring the sensitive parts).

[2021-04-09 01:48] claragiroux opened #78 "Cannot work out file type of "sub-barcelona01_T1w.nii.gz""
I downloaded the images for a few subjects using :
`git annex get /sub-oxfordFmrib01/ sub-unf01/ sub-tokyoSkyra01/ sub-stanford01/ sub-milan01/ sub-geneva01/ sub-barcelona01/ sub-hamburg01/ sub-strasbourg01/ sub-tehranS01/` (There is no output when calling this, I'm not sure if it's normal)

However, I'm having trouble using the images. Whenever I try to open them with FSLeyes or to process them w

[2021-04-12 15:43] jcohenadad commented on #78
Hi,
I suspect you only downloaded the symlinks, not the actual data, what is the output of:
[code]
If the file name is only ~100Bytes then it confirms you did not download the data.

Next question is: if you followed the doc, you should have downloaded the data-- adding @kousu in the thread

[2021-04-12 15:50] claragiroux commented on #78
The file size in only 106 Bytes, so it clearly did not download the data! I get this output:
[code]

[2021-04-12 15:56] jcohenadad commented on #78
first thing i notice is that:
[code]

Putting a "/" before the folder name means, in UNIX convention, that you are fetching the root "/", which is wrong. For local folder, you should write "./" (or nothing at all)

[2021-04-12 15:57] jcohenadad commented on #78
@alexfoias and/or @kousu can you pls help @claragiroux -- thanks

[2021-04-12 16:00] kousu commented on #78
Good eye @jcohenadad, that's definitely one problem. But the other folders didn't start with '/' so they should have been downloaded I think. There definitely should have been some output.

Hi @claragiroux. I can tell you're using WSL from the logs. Is it possible you're using [`Ubuntu-18.04`](https://aka.ms/wsl-ubuntu-1804)? The docs I wrote here are a bit thin, they just say " install git-annex

[2021-04-12 16:05] claragiroux commented on #78
Thanks! I definitely missed that typo!

I can see that I have git-annex version 6.20180227 with Ubuntu 18.04.

Here are the results for the commands you asked @kousu :
[code]

[2021-04-12 16:29] jcohenadad commented on #78
@kousu it is not the first time (and thus not the last time) that users fail to verify their git-annex version. I suggest to slightly modify the doc, to make it an explicit and isolated step, e.g.:

STEP X: Install git-annex version 8.

The output should show something like this:
[code]

If it is _not_ the case, **you will not be able to download the data**.

note: i wrote this fast-- this should

[2021-04-12 16:30] kousu commented on #78
git-annex 6 is really really old. Debian and therefore Ubuntu spread packages the way journals spread knowledge unfortunately. Are you able to install the more recent version? You should just be able to click https://www.microsoft.com/store/apps/9n6svws3rx71 to get it.

I know that means you'll have to reinstall SCT and everything else. Do you think it would be a lot of work for you?

[2021-04-12 16:40] claragiroux commented on #78
Thanks so much for the help! I have access to an old Mac, so I'll download the data on it, this way it will be much faster than installing a new version of Ubuntu!

[2021-04-12 16:41] jcohenadad opened #80 "Make it more explicit in the doc that git-annex 8 is required"
More context: https://github.com/spine-generic/data-multi-subject/issues/78#issuecomment-817951875

[2021-04-12 16:46] jcohenadad commented on #78
@kousu many researchers have Ubuntu 18.04. Isn't there an "easy" way to get git-annex v8 on this distro?

[2021-04-12 16:49] kousu commented on #78
The easy way is `sudo do-release-upgrade`. Ubuntu 18.04 is three years old now and they're going to have problems with more than just us if they keep using it.

The workaround is `conda install -y -c conda-forge git-annex && ln -s PATH/TO/CONDA/bin/git-annex ~/.local/bin/`. But that's definitely a workaround.

[2021-04-12 16:57] kousu commented on #78
There's a GUI too: https://ubuntu.com/blog/how-to-upgrade-from-ubuntu-18-04-lts-to-20-04-lts-today.

[2021-04-12 17:00] kousu commented on #80
I wish there was a way we could script this. `.git/hooks/` could do it, except (for good reason) you can't force-install git hooks onto peoples' systems without their consent, so we would just end up replacing the easily missable "check 'git annex version'" with the easily missable "run `ln -s ../hooks .git/hooks`". I suppose we could provide a small downloader script but I am wary of that slipper

[2021-04-12 18:45] #80 closed, assigned to kousu

[2021-04-13 00:15] jcohenadad commented on #78
great, thank you. Just for the context: many academic labs have their servers "stuck" to old distros because:
- the ITs are not updating them fast enough;
- researchers prefer to stay on the same distros because they are afraid changing the distros will change analysis results (which prove to be true for some analyses).

so it if far from uncommon to encounter SCT users who simply cannot upgrade t

[2021-05-04 17:38] jcohenadad opened #88 "Add the log of the processing in the release assets "results.zip""

[2021-05-24 21:15] mpompolas opened #89 "Substitute dash with n/a in the participants.tsv"
Same issue was encountered with sct-testing-large.

See: https://github.com/ivadomed/ivadomed/issues/796

[2021-05-25 19:04] sandrinebedard opened #90 "Create a processed version of the dataset"
## Context
We want to use [spine-generic/data-multi-subject](https://github.com/spine-generic/data-multi-subject) dataset for training of sct_deepseg. However, we have encountered some [issues](https://github.com/ivadomed/ivadomed/issues/797): the SC segmentations are generated with the resampled and reoriented data.

Also, the SC segmentation is not done for all available contrasts in the dataset

[2021-05-26 16:12] alexfoias commented on #89
yes indeed. I will fix it.

[2021-05-26 18:11] alexfoias commented on #89
@kousu should I work from my fork or is it better to create a branch on this repo ? I think we had issues in the past as in [here](https://github.com/spine-generic/data-multi-subject/pull/77).

[2021-06-02 17:38] kousu commented on #89
Please work in a branch here.

[2021-06-26 00:57] jcohenadad opened #92 "git-annex: sync Failed"
Another git-annex tragedy.  After encountering [this bug](https://github.com/ivadomed/ivadomed/pull/787#issuecomment-868773827) I wanted to update my git-annex repository and ran into the following issue:

<details><summary>Terminal output</summary>

[code]

</details>

[2021-06-26 01:00] jcohenadad commented on #92
Nevermind, the problem was caused by me forgetting to set up `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` 🤦

[2021-06-26 01:00] #92 closed, assigned to nobody

[2021-06-26 01:02] jcohenadad opened #93 "Pushed corrupted files 🤦"
Sorry, I think I messed up. I pushed files that are wrongly merged. Example:
[code]

Problematic commit: 9d27a7010d8d528e369a7ed86b6278c64a7cdf77

[2021-06-26 01:07] jcohenadad commented on #93
Note: the problem really came from the command `git annex sync --content`, which push my changes (although the only thing i wanted was to refresh my local repos from the origin one). I suggest we have a "dummy user" section with the command to get latest update from the remote repos to avoid these incidents.

[2021-06-26 01:31] kousu commented on #93
0. Investigate

[code]

1. Simple fix: a hard reset
[code]
2. Disable [branch protection](https://github.com/spine-generic/data-multi-subject/settings/branch_protection_rules/17414297)

    ![2021-06-25-212831_978x232_scrot](https://user-images.githubusercontent.com/987487/123497589-5a655f80-d5fc-11eb-865b-251060921d7c.png)

3. Upload

[code]

4. Reenable branch protection

    ![2021-06-25-213049

[2021-06-26 01:36] kousu commented on #93
@jcohenadad https://github.com/neuropoly/data-management/pull/97 ?

[2021-06-26 01:57] kousu commented on #93
You'll have to do this to fix up your local copy

[code]

[2021-06-26 02:02] jcohenadad commented on #93
Looks like it worked! (I think):

<details><summary>Terminal output</summary>

[code]

</details>

But now, what is the best way to get rid of local (not added, not committed) changes?

thanks!!!

[2021-06-26 19:04] kousu commented on #93
@jcohenadad: `git clean -i`

[2021-08-02 20:22] jcohenadad opened #94 "Upload manual segmentations"
A derivatives to this dataset was created for the [contrast-agnostic-sofseg](https://github.com/sct-pipeline/contrast-agnostic-softseg-spinalcord) project. The derived dataset is called `spine-generic-processed`. It is currently hosted in the internal server at NeuroPoly Lab. However, at some point, we will make it public (tagging @kousu ).

From the `spine-generic-processed` derived dataset, the

[2021-08-02 20:33] kousu commented on #94
I don't think BIDS has really thought through this use case yet. Derivative works are easier to handle in a separate repository, with a hyperlink between the two, instead of making a giant repo containing everything. That seems like the fundamental source of friction to me.

We *could* handle this with [`git subtree`](https://www.atlassian.com/git/tutorials/git-subtree), but then the subdataset wo

[2021-08-02 20:35] kousu commented on #94
Any dataset might be a derivative of any other dataset, recursively, ad infinitum. So a single `derivatives/` folder is never going to be able to model every processing or analysis you might do with a dataset. It should be possible to accomplish all the same work while avoiding `derivatives/` entirely, and thus avoiding having our hands tied by it.

[2021-08-02 20:43] sandrinebedard commented on #94
The manuals segmentations generated in `spine-generic-processed` are:
- T1w
- T2w
- T2star
- T1w_MTS
- MTon_MTS
- dwi

(I can not edit your issue 😕)
Just some context about the `spine-generic-processed` dataset:

The reason for `spine-generic-processed` was that the derivatives created are generated from the resampled and reoriented images (the current derivatives in data-multi-subject also had no

[2021-08-21 15:03] jcohenadad commented on #94
Thank you for your feedback @sandrinebedard and @kousu. I agree it is unrealistic to have a single derivatives/ folder that will accommodate all related research for the next 50 years 😅 . So what we should probably do, for the benefits of the community, is "simply" publish the `spine-generic-processed` as a new BIDS directory. It is _similar_ to the scheme described in https://github.com/spine-gen

[2021-09-05 21:09] sandrinebedard opened #95 "Difference bewteen derivatives `labels` and `labels-disc` not clear"
## Description
In the derivatives, we can find files with `labels-manual` and some other with `labels-disc-manual`. The difference bewteen the two files isn't specified in the dataset.

## Suggestion
Add a README in the derivatives folder to specify what each derivatives represent.

[2021-11-10 22:18] jcohenadad commented on #93
issue was fixed so we can safely close

[2021-11-10 22:18] #93 closed, assigned to nobody

[2021-11-10 22:22] jcohenadad commented on #51
There is now a DOI: https://zenodo.org/record/4299140#.YYxGB73MKPQ

[2021-11-10 22:22] #51 closed, assigned to nobody

[2021-11-15 14:39] #49 closed, assigned to nobody

[2021-11-15 16:22] kousu opened #101 "Wipe from OpenNeuro"
An old copy is still at https://github.com/OpenNeuroDatasets/ds002902/, despite being wiped from https://openneuro.org:

![dsfs](https://user-images.githubusercontent.com/987487/141817193-5d000d17-2437-4733-adc7-1a1f3620ba71.png)This task is to follow up with https://github.com/OpenNeuroOrg/openneuro/issues/2484 until they delete it.

[2021-11-15 20:39] kousu commented on #101
Done

[2021-11-15 20:39] #101 closed, assigned to nobody

[2021-11-15 21:18] kousu opened #102 "Deal with subjects scanned on different scanners"
There are 15 `sub-tokyo` subjects; however, there's *actually* only 5 real subjects involved, each scanned on three different MRI scanners. For example:

[code]

It is safer, and probably more BIDS-compliant, if we represented the "different scanner" field using an [`acq-` entity](https://bids-specification.readthedocs.io/en/stable/99-appendices/09-entities.html#acq) (or possibly [`ses-`](https://

[2021-11-15 21:26] jcohenadad commented on #102
This is a valid concern. However, merging these participants would break the [analysis code](https://github.com/spine-generic/spine-generic), so there is a pros/cons here.

[2021-11-15 21:26] kousu opened #103 "`acq-MT{on,off}` -> `mt_{on,off}`"
We've misused the `acq` entity to store the `MTState` field. We should be using [the `mt` entitity](https://bids-specification.readthedocs.io/en/stable/99-appendices/09-entities.html#mt)

All these files are affected:

<details>

[code]

</details>

[2021-11-15 21:38] kousu commented on #103
Here's the distribution of how we've used this field:

[code]

So, I know what I want to do with `MToff` and `MTon`. Do we need the other two?

We can get rid of `acq-T1w` by renaming those files to match how most files in this dataset tagged `T1w` do it, putting it into the final label: `_T1w.nii.gz`:

<details>

[code]

</details>

And `acq-b0` is in a funny situation; a bunch of the existing su

[2021-11-15 21:38] kousu commented on #102
I'll fix the analysis code.

[2021-11-15 22:07] kousu commented on #103
Same issue, different dataset: https://github.com/neuropoly/data-management/issues/147

[2021-11-15 23:13] jcohenadad commented on #103
no because this T1w file is intended for MTS computation (hence the "_MTS" intended for suffix)

[2021-11-15 23:13] jcohenadad commented on #103
aouch-- that's quite ugly indeed. Probably a mistake

[2021-11-15 23:44] kousu commented on #102
Turns out, the hardware field already has a place to go in BIDS: [it goes in the .json](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#scanner-hardware), not in the filename, and we have this data in the right place already:

<details>

[code]

</details>

And BIDS [recommends](https://bids-specification.readthedocs.io/en/stab

[2021-11-16 00:24] kousu opened #104 "`b0` files are mistakenly filed"
A bunch of files are tagged `acq-b0` The files affected are all DWI images:

<details>

[code]

</details>

The only mention I can find of b0 in BIDS [is about using the `fmap/` datatype/subfolder](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#fieldmap-data), and it recommends four schemas depending on how many files you have

[2021-11-16 00:28] kousu commented on #103
I don't have the background to understand this sentence. I'm sorry. But I can tell there's some conflict here because BIDS defines both `_MTS` and `_T1w` as suffixes:

https://github.com/bids-standard/bids-specification/blob/251f4400ee44ea5555d418dc12c852b5c3ef7aa0/src/schema/objects/suffixes.yaml#L95

https://github.com/bids-standard/bids-specification/blob/251f4400ee44ea5555d418dc12c852b5c3ef7aa

[2021-11-16 02:08] jcohenadad commented on #103
indeed, so i _think_ it would look like this:
[code]

@kousu the "flip-2_mt-off" is in fact a T1w scan (because of the longer flip angle), hence the reason we called it T1w in the first place.

@agahkarakuzu can confirm

[2021-11-16 02:15] jcohenadad commented on #102
thank you @kousu, this seems like a very reasonable plan. In terms of index vs. scanner name in the filename, i do have a slight preference for encoding in the file name, just because it is more human friendly

[2021-11-16 02:29] jcohenadad commented on #104
no they are not. It is quite confusing. These are not B0 fieldmap (where B0 refers to the static magnetic field) but b=0 images (where b refers to the diffusion-encoding [b-value](https://mriquestions.com/what-is-the-b-value.html)).

this additional image is acquired in order to improve SNR when computing diffusion tensor metrics.

i'm not sure how we can make BIDS happy with this special image ty

[2021-11-16 03:03] agahkarakuzu commented on #103
Indeed @jcohenadad that's how MTS entities are organized.

https://github.com/bids-standard/bids-examples/tree/master/qmri_mtsat

[2021-11-16 03:46] kousu commented on #103
Oh great, thanks for clearing that up. So then this is the migration I'm going to do:

[code]

I'll update #105 to match.

[2021-11-16 14:03] kousu commented on #104
[Maybe it's](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#diffusion-imaging-data)

Single-Band Reference | sbref | Single-band reference for one or more multi-band dwi images.
-- | -- | --

so then

[code]

?

But maybe it's fine like it is. That spec page is pretty vague, only mentioning

which is also appropriate since the

[2021-11-16 15:00] kousu commented on #102
Great. I can do that!

[2021-11-17 02:24] jcohenadad commented on #104
no it's not that (for the record: SB reference refers to images acquired with [SMS](https://pubmed.ncbi.nlm.nih.gov/26308571/) factor of >1)

i can sleep at night with this status quo

dwi data definitely need a bval and a bvec in order to be able to compute [DTI](https://www.sciencedirect.com/science/article/pii/S104236801000121X?via%3Dihub) metrics

[2021-11-17 03:00] kousu commented on #104
Okay well, stupid question then: doesn't the BIDS naming scheme would seem to mean there's missing files here? The existence of

[code]

should imply

[code]

but if that's wrong then `_dwi` is the wrong suffix for these files isn't it?

[2021-11-17 15:16] jcohenadad commented on #104
ah! sorry i misunderstand your point above-- a b=0 image has (by definition) no bvec/bval associated with it.

that being said, we could also make the point that a _very_ low b-value would be considered b=0 and labeled as is (and in this case a bvec/bval should be needed)-- so, i'm not sure what to advise here 🤷‍♂️

[2021-11-17 15:18] kousu commented on #104
Maybe we can bring it up on the BIDS bug tracker when we get a free moment?

[2021-11-27 00:57] kousu commented on #94
It sounds like the big worry here is [denormalization](https://en.wikipedia.org/wiki/Database_normalization). So, can we just not denormalize? Instead of `spine-generic-processed`, rename it to, say, `spine-generic-derivatives` or `data-multi-subject-derivatives`, delete every duplicate of a file here, and probably just forget using the `derivatives/` folder. Then there's only one unique place for

[2021-11-27 02:05] kousu commented on #94
There are currently this many overlapping images between the two:

[code]

(I cut out .bval, .bvec and .json files because many of them are themselves duplicated within the datasets, and would overestimate the problem)

There's already been quite a lot of drift between the two datasets:

<details><summary>diff -rq data-multi-subject spine-generic-processed/ | sort | grep -v ".git" | grep "differ"<

[2021-11-27 02:05] kousu commented on #94
Some files were added or never copied (I can't tell without looking deeper):

<details><summary>diff -rq data-multi-subject spine-generic-processed/ | sort | grep -v ".git" | grep "Only in data-multi-subject"</summary>

[code]

</details>

[2021-11-27 02:08] kousu commented on #94
and here's the files that are new, from Sandrine et cie.'s work

<details><summary>diff -rq data-multi-subject spine-generic-processed/ | sort | grep -v ".git" | grep "Only in spine-generic-processed"</summary>

[code]

</details>

(full set, too large to fit in a comment: [right.txt](https://github.com/spine-generic/data-multi-subject/files/7611055/right.txt))

I don't understand BIDS! Why are so

[2021-11-27 02:27] jcohenadad commented on #94
sorry i'm not sure i understand. I think we need to set up a meeting to discuss this-- GH has its limitations when it comes to explaining stuff, especially given that we don't all come from the same background (misunderstandings often happen, and it would be problematic in this case as it could negatively impact research projects down the line). Let's make sure we are all on the same page.

[2021-11-27 02:34] kousu commented on #94
We should replace `spine-generic-processed` with its subset of files listed in https://github.com/spine-generic/data-multi-subject/files/7611055/right.txt.

[2021-11-27 02:35] kousu commented on #94
because doing that achieves https://en.wikipedia.org/wiki/Database_normalization

[2021-11-29 16:44] kousu opened #107 "Amazon is flakey"
We've been having sporadic failures due to Amazon rejecting us:

https://github.com/spine-generic/data-multi-subject/runs/4226501836?check_suite_focus=true#step:11:711

[code]

https://github.com/spine-generic/data-multi-subject/runs/4038349050?check_suite_focus=true#step:11:867

[code]

`git-annex` doesn't have any kind of backoff/retry mechanism that I know of, so a single bad connection during

[2021-11-29 17:04] renelabounek opened #108 "51 files failed: git annex get ."
I use fetched and merged [fork of the data-multi-subject](https://github.com/renelabounek/data-multi-subject/tree/master). There I use the master version:
[code]
Git head is:
[code]
Git-annex head is:
[code]
I have tried `git pull && git annex sync --no-content && git annex get .`, but 51 files still fail to download:
[code]

[2021-11-29 17:31] renelabounek commented on #108
Look what has appeared at the [spine-generic/data-multi-subject](https://github.com/spine-generic/data-multi-subject) master title page. I do not think this is what we want to happen next time. Is it a result of the command?
`git pull && git annex sync --no-content && git annex get .`

![image](https://i.ibb.co/NxMSY6B/github-data-multi-subject.png)

[2021-11-29 18:04] kousu commented on #108
@renelabounek this is one of the several unfortunate side effects of https://github.com/neuropoly/data-management/issues/67. As I understand it, git-annex was meant for a single person managing a sprawling collection of data, not many people managing a single collection of data. It tries to track the location of every copy of a file, instead of just looking in the origin repository. Unfortunately,

[2021-11-29 18:07] kousu commented on #108
Thanks a lot for the excellent bug report though!

[2021-11-29 18:27] renelabounek commented on #108
I can delete the whole fork and make clone from the upstream `https://github.com/spine-generic/data-multi-subject`; but how can I edit the database then? I should update the file `https://github.com/spine-generic/data-multi-subject/blob/master/participants.tsv` about height and weight values. Original plan was to fork the database, make edits in my fork and PR changes into the upstream master vesr

[2021-11-29 18:56] kousu commented on #108
If all you want to edit is `participants.tsv` then in a pinch you don't actually need to have `git annex get .` succeed. That file isn't "annexed". We only annexed the niftis. So, just make your edits and submit that and we'll be able to integrate them.

To read the full correct dataset, can you try this?

[code]

The niftis are read-only though.

We don't have a way for you to edit niftis because

[2021-11-29 19:31] renelabounek commented on #108
First suggested commands have downloaded the data. But last line of the STDOUT wrotes some sync fail (i.e. look for `sync: 1 failed`):
[code]
But following `git branch --track -f git-annex upstream/git-annex` appears to break the `git annex sync -a` command due to user permissions. Please see and track history of commands and STDOUTs below. I guess I should set the `git branch --track` to default

[2021-11-29 19:50] kousu commented on #108
I think it worked as well as it's going to! https://github.com/renelabounek/data-multi-subject/tree/git-annex now says

![Screenshot 2021-11-29 at 14-48-20 renelabounek data-multi-subject at git-annex](https://user-images.githubusercontent.com/987487/143933020-c4c468aa-0009-412a-94bd-0e5ec9910584.png)

and you were able to download all the subjects.

Just do one more thing:

[code]

and that shoul

[2021-11-29 19:54] kousu commented on #108
Note to future selves: `git branch --track -f git-annex upstream/git-annex` was unnecessary; `git annex sync` evidently syncs *all* `git-annex` branches it can reach:

[code]

[2021-11-29 20:00] renelabounek commented on #108
It did not prevent the permission errors. + I am not aware, I would do any 4 commints myself to get ahead the `upstream/git-annex`. I assume it happened during the serie of executed git commands. And, it is something unimportant for both sites, right?

[code]

[2021-11-29 20:04] kousu commented on #108
Right sorry, my mistake, you have the names opposite to what I usually use:

[code]

[2021-11-29 22:43] kousu commented on #108
I can fill you in on this, since you asked :)

This is just something `git annex sync` does. You can look at the commits, though they won't be that meaningful to either of us: e.g. https://github.com/renelabounek/data-multi-subject/commit/7b2f84d2a3694bcb28d677f656bf401c053d6c5e

this represents the fact that you have a particular version of a particular annexed file in your local copy (which has

[2021-11-30 21:47] renelabounek commented on #108
Yes, it passed without error now. Thanks @kousu for your help with debuging.

[2021-11-30 21:47] #108 closed, assigned to nobody

[2022-01-07 21:56] jcohenadad opened #111 "Add `AcquisitionDuration` in JSON metadata for the T2star scans"
See https://github.com/sct-pipeline/gm-challenge-data/issues/25 for context

[2022-01-10 19:47] alexfoias commented on #111
@jcohenadad I tried to find any persitent information about the specifications for `AcquisitionDuration` on https://neurostars.org/search?q=Acquisition%20duration%20tag%3Abids and https://github.com/bids-standard/bids-specification/search?q=acquisitionduration.

[2022-01-10 19:48] alexfoias commented on #111
@jcohenadad I will start populating `AcquisitionDuration` in JSON metadata for the T2star scans.

[2022-01-10 22:25] jcohenadad commented on #111
thank you. Just make sure you document where you got the information so other people can double check

[2022-01-11 15:32] alexfoias commented on #111
As per the documentation for `AcquisitionDuration`: https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#other-recommended-metadata
![Screen Shot 2022-01-11 at 10 32 24 AM](https://user-images.githubusercontent.com/12564433/148972427-7ee265ec-1538-4d72-9cb8-3613a22926c1.png)

[2022-01-11 15:36] alexfoias commented on #111
I ran a script to see if `AcquisitionDuration`, `RepetitionTime`, `VolumeTiming`, `SliceTiming` are available in the JSON metadata for `*_T2star.json`. I couldn't find `AcquisitionDuration` for any of the scans. I will manually check for the data that we have in DCM format.

<Details>

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:sche

[2022-01-11 16:26] jcohenadad commented on #111
Thanks @alexfoias ! It would be nice to put your script under scripts/ in this repository as it could be useful for others

[2022-01-11 16:27] jcohenadad commented on #111
The other thing we need to address is that AcquisitionDuration is mutually exclusive with TR, which is a problem because we will be violating the BIDS convention. So we need to address this somehow. I've opened an issue here: https://neurostars.org/t/why-should-acquisitionduration-and-repetitiontime-be-mutually-exclusive/21153

[2022-01-11 19:11] alexfoias commented on #111
Added the script here: https://github.com/spine-generic/data-multi-subject/pull/112

[2022-01-15 21:26] jcohenadad commented on #111
@alexfoias could you please also display the matrix size (dim x,y), that will be informative.

[2022-01-17 14:18] alexfoias commented on #111
@jcohenadad sure, I will add this info.

[2022-01-17 15:06] alexfoias commented on #111
I added `AcquisitionMatrixPE` & `ReconMatrixPE` from the json sidecar. Is this what you referred as the  matrix size (dim x,y) ? Otherwise I can use nibabel to get the info from the T2star.nii.gz.

<Details>

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<hea

[2022-01-18 20:11] alexfoias commented on #111
@jcohenadad I compiled the `AcqDuration` manually comparing the protocol PDF with the `TR` and `AcqMatrix` of each scan.

I have a few issues with:

- GE scans: I cannot find the duration in the protocol or in the DCM. As per their [documentation](https://www.gehealthcare.com/-/media/1150764f8c7b41a79c134e1e87e03204.pdf?la=en-us), GE uses DICOM tag: 0019,105A. This tag does not exist in our DCMs.

[2022-01-18 20:34] jcohenadad commented on #111
Thank you @alexfoias!

I found this XML file from a session I did in Tokyo, if you look at the ME-GRE section, it says:
[code]
[session.xml.zip](https://github.com/spine-generic/data-multi-subject/files/7892213/session.xml.zip)

Now we just hope that all GE used the same parameters 😅  (which could be verified)

good!

You can assume it is the same as the other sites (per vendor).

[2022-01-18 21:05] alexfoias commented on #111
I assume that `scanTime` is in miliseconds.

Okay. I will open a PR with the changes in AcquisitionDuration.

[2022-01-18 21:32] jcohenadad commented on #111
fair assumption 😅

[2022-01-18 22:10] alexfoias commented on #111
I pushed the changes. I will double check the values tomorrow morning and ping you when ready to review. I appended `AcquisitionDuration` at the end of the jsons.

[2022-01-20 15:21] alexfoias commented on #111
Fixed in https://github.com/spine-generic/data-multi-subject/pull/112.

[2022-01-20 15:21] #111 closed, assigned to alexfoias

[2022-01-20 21:19] hestoner opened #113 "Data Not Downloading Error with "git annex get ." command"
Hi!

First off, thanks for making this data accessible. I'm sure it's a great resource once it's up and running correctly. I'm having some problems with the data downloading properly while using the "git annex get ." portion in the steps described here: https://github.com/spine-generic/data-multi-subject#spine-generic-public-database-multi-subject.

The output is as follows:
![image](https://user-

[2022-01-20 22:06] mguaypaq commented on #113
Hi Halestone,

It looks like git-annex is aware that it can get the data from `amazon` (among other remotes), but somehow the `amazon` remote seems disabled for you. For comparison, when I tried the commands just now in a fresh clone, I got the data from `amazon`:

[code]
To see the configuration options for the remotes, could you run the following command from the `data-multi-subject` folder, and

[2022-01-24 17:47] hestoner commented on #113
Hi Mathieu,

Sure thing! Thanks for the help. I just did a fresh clone and got the same errors previously. After using the git config line you mentioned, the output is as such:

![image](https://user-images.githubusercontent.com/57103301/150836134-cc58c841-0d5e-4829-b5ce-8293b69a84b1.png)

So, the remote.amazon portions are missing on the config list. For the git annex specifying amazon command, t

[2022-01-25 16:35] mguaypaq commented on #113
I would really like to understand how this happened (so we can prevent it from happening again), but for now let's focus on getting it working at least.

On my machine, when I compare the output of `git config --list` before and after running `git annex init`, I see that these are the added bits of configuration:
[code]
Do you see corresponding lines when you run `git config --list` on your machin

[2022-01-26 18:00] hestoner commented on #113
Heyo!

Alrighty this is before and after running git annex init with the git config --list command:

![image](https://user-images.githubusercontent.com/57103301/151219919-cdb8a645-6dcc-456e-8661-153d11361a25.png)

I decided to try out git annex get . again after running these (because it seemed to have initialized the amazon source). And it worked! The data was downloaded properly! Thanks so much

[2022-01-26 18:33] mguaypaq commented on #113
Ah! Yes, I see now that in [the download instructions for `data-single-subject`](https://github.com/spine-generic/data-single-subject#download), we list the `git annex init` command, but it's not in [the download instructions for this dataset](https://github.com/spine-generic/data-multi-subject#download). I'll fix that right away.

Thanks again for your patience!

[2022-01-26 23:52] #113 closed, assigned to mguaypaq

[2022-01-27 18:46] renelabounek commented on #56
@valosekj @jcohenadad This can be clsoed as height and weight for all subjects have already been added and merged into master in PRs #109 and #110

[2022-01-27 20:10] #56 closed, assigned to nobody

[2022-01-27 20:30] mbondy023 opened #115 "Brain voxels are erased by defacing or out of FOV"
We were interested in obtaining brain volumes of subjects in [spine-generic/data-multi-subject](https://github.com/spine-generic/data-multi-subject) and came across scans with either defacing or FOV issues.

First, the majority of subjects have defacing that extends past the cortex. Erasure occurs in their anterior frontal lobe, anterior temporal lobe, or both. The amount of erasure varies as well

[2022-01-27 20:39] jcohenadad commented on #115
@mbondy023 thank you very much for reporting this critical issue. Indeed, at the beginning of the project we were mostly focusing on the spinal cord and somewhat "neglected" the brain, especially how the defacing algorithm affected it.

We still have access to some of the non-defaced data, but not all of them. @alexfoias can you please update us?

[2022-01-27 21:09] renelabounek commented on #115
@jcohenadad and @alexfoias just a short comment. Monica, Igor and I were discussing that it could be worth to try to contact at least contributors of the 24 T1 images with large erasures, please them to re-deface the images and update the database. + If you have some non-defaced scans, it is perfect partial fix too.

[2022-01-27 21:12] jcohenadad commented on #115
@renelabounek great idea. Let's see what we have first (much of the defacing was done by us).

[2022-01-27 21:42] alexfoias commented on #115
@jcohenadad @renelabounek I will start comparing what original data we have. I will open a PR with the possible fix.

[2022-02-02 20:54] alexfoias commented on #115
I have found an initial version of the dataset non defaced. I will start pushing corrected defaced images.

[2022-02-04 17:28] renelabounek commented on #115
@alexfoias, would it help if @mbondy023 shares list of identified subjects with defacing issues? Or would you need some other help from our site?

[2022-02-04 17:31] alexfoias commented on #115
@renelabounek yes, I think a list would be helpful.

[2022-02-04 17:51] mbondy023 commented on #115
@alexfoias Here is a list with the 204 subjects who have only defacing issues. It's not 206 like mentioned above because I took off 2 subjects who have their brains out of the FOV as well.
[DefacingList.xlsx](https://github.com/spine-generic/data-multi-subject/files/8005170/DefacingList.xlsx)

[2022-02-04 17:58] renelabounek commented on #115
# T1w RE-DEFACE list:
- [x] sub-amu01
- [x] sub-amu02
- [x] sub-amu03
- [x] sub-amu04
- [x] sub-amu05
- [x] sub-balgrist01
- [x] sub-balgrist02
- [x] sub-balgrist03
- [x] sub-balgrist04
- [x] sub-balgrist06
- [ ] sub-beijingVerio01
- [ ] sub-beijingVerio02
- [ ] sub-beijingVerio04
- [x] sub-brnoCeitec01
- [x] sub-brnoCeitec02
- [x] sub-brnoCeitec03
- [ ] sub-brnoCeitec05
- [ ] sub-brnoCeitec06
- [

[2022-02-04 18:01] renelabounek commented on #115
@alexfoias, I should be able to re-deface cmrra and cmrrb datasets. I do not think you have these data without defacing.

[2022-02-23 17:16] alexfoias opened #116 "Fix filenames for MTS"
MTS scans should be follow the specs as in the dataset - `qmri_mtsat`: https://github.com/bids-standard/bids-examples/tree/master/qmri_mtsat/sub-01/anat

[code]

[2022-03-02 20:43] alexfoias commented on #107
We had the issue on 2022-03-02 . See screenshot:
![Screen Shot 2022-03-02 at 3 42 21 PM](https://user-images.githubusercontent.com/12564433/156446368-ea6fed74-abed-4e69-90d2-9868c9b6d21c.png)
But I managed to get it on my computer :

`~/data/data-multi-subject ╱ af/fix_defaced_images  git annex get sub-tokyo750w07/anat/sub-tokyo750w07_acq-MToff_MTS.nii.gz `

[2022-03-11 16:52] kousu commented on #115
@mbondy023, to work around you not being a formal member of this project, please copy-paste this into a comment below. Then you should be able to check off your work as you complete it.

You can click the 'copy' button that appears in the right corner:

![2022-03-11-115326_653x191_scrot](https://user-images.githubusercontent.com/987487/157911914-fb263e9e-1655-409e-9e2d-b144e70448e8.png)

[code]

[2022-03-11 17:38] mbondy023 commented on #115
Thanks @kousu for the help. I've looked over all the scans and updated the list. There are about 70 scans that still have poor defacing, but most have been fixed.

Importantly, sub-geneva04 was not defaced at all, so that would need to be fixed quickly.

Edit: Apologies, I missed adding sub-vuiisIngenia03 in our inital list. It also needs to be defaced.

# T1w RE-DEFACE list:
- [x] sub-amu01
- [x]

[2022-03-15 18:55] alexfoias commented on #115
@mbondy023 thanks for the heads up about `sub-geneva04`. I have fixed it in https://github.com/spine-generic/data-multi-subject/pull/119/commits/8797ed2009253a7d6f6a89c6bd1925e5515b8a66

[2022-03-30 19:32] alexfoias commented on #89
this issue was already addressed. closing it.

[2022-03-30 19:32] #89 closed, assigned to alexfoias

[2022-04-12 14:50] #115 closed, assigned to nobody

[2022-05-13 14:54] #90 closed, assigned to nobody

[2022-06-23 14:02] sandrinebedard opened #121 "Move derivatives from `spine-generic-processed` back to `data-multi-subject`"
# Context
A processed version of this dataset was created --> `spine-generic-processed` because of incomptibility of the derivatives and the raw data (mainly for training) Related [issue](https://github.com/ivadomed/ivadomed/issues/797). The same strategy was used for UK-Biobank --> [issue](https://github.com/sct-pipeline/ukbiobank-spinalcord-csa/issues/29).

## Problems with the `-processed`appro

[2022-06-23 14:49] jcohenadad commented on #121
This is a good point indeed. For reference, here is the [BIDS definition for derivatives](https://bids-specification.readthedocs.io/en/stable/05-derivatives/01-introduction.html#file-naming-conventions). Another thing I am thinking of, is that in case the preprocessing script changes (eg: we don't reorient anymore), the derivative name will still have '_RPI' in it, which might cause confusion (bec

[2022-06-23 15:25] sandrinebedard commented on #121
Ok, so I will continue with the merging, but without any suffix, is that right (except -manual etc.)?

[2022-07-04 20:55] sandrinebedard opened #122 "Unable to copy to amazon while adding data"
# Context

To uplaod new data, I ran the command:

[code]

I get the following error:
[code]

I added my AWS credentials as stated here: https://github.com/spine-generic/spine-generic/wiki/git-annex#images-niigz

[2022-07-05 14:31] kousu commented on #122
I'm looking into it @sandrinebedard, hopefully it's something simple.

[2022-07-05 15:13] kousu commented on #122
## Reviewing Policy

Here is the IAM policy @RignonNoel set up yesterday:

<details><summary><code>READ_WRITE_S3_data-multi-subject---spine-generic---neuropoly</code></summary>

[code]

</details>

I'm not at all versed in IAM policies, but this looks correct to me. It looks very similar to the one I made for [backups](https://github.com/neuropoly/computers/issues/65#issuecomment-1087119926). I'll

[2022-07-05 15:20] kousu commented on #122
## Tracing

I turned up debugging

[code]

And saw:

<details>

[code]

</details>

which tells me that the failure is in the

[code]

request. Which doesn't really tell me anything new, except that it rules out git-annex doing some weird extra step it needs extra permissions for in the background.

[2022-07-05 15:34] kousu commented on #122
## `awscli`

Our internal servers have [`awscli`](https://pypi.org/project/awscli/) installed. I read `aws s3 help` to remind me how to use it and, with the `sandrine2` credentials loaded, tested _deleting_ the first test file uploaded using my `kousu2` credentials: it worked:

[code]

(and also this link is now broken: https://data-multi-subject---spine-generic---neuropoly.s3.ca-central-1.amazona

[2022-07-05 15:45] kousu commented on #122
Can I just upload anything, without git-annex?

[code]

Ah! Yes I can. Sort of. The [link](https://data-multi-subject---spine-generic---neuropoly.s3.ca-central-1.amazonaws.com/something-sandrine2.nii.gz) doesn't work, it gives 403 (not 404, 403!, so the data is there it's just locked):

<details>

[code]

</details>

This reminds me of a problem [long ago](https://github.com/spine-generic/data-mul

[2022-07-05 16:18] jcohenadad commented on #122
@kousu i'm sure you've looked into this and sorry if this is a trivial comment, but could it be related to a git-annex version issue?

[2022-07-05 16:19] kousu commented on #122
I've isolated it to an S3 policy issue.

[2022-07-05 16:24] kousu commented on #122
If I try to turn off ACLs it tells me I need to delete them first:

![Screenshot 2022-07-05 at 12-22-44 data-multi-subject---spine-generic---neuropoly - S3 bucket](https://user-images.githubusercontent.com/987487/177373283-4f2b22ec-a2cf-44b8-aaa0-e0643b06b32c.png)

But that seems way better overall. We shouldn't have "sandrine uploaded this file" and "alex uploaded that file" lurking in the backgr

[2022-07-05 18:29] kousu commented on #122
Going to try to follow https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-ownership-migrating-acls-prerequisites.html

Those docs are terrible, but I fumbled by way through creating this bucket policy:

[code]

and then it turned out I just had to uncheck the "Everyone" ACL:

![Screenshot 2022-07-05 at 13-55-22 data-multi-subject---spine-generic---neuropoly - S3 bucket](https://user-imag

[2022-07-05 18:29] kousu commented on #122
Er but you better `git annex sync -a --no-content` first.

[2022-07-05 18:55] sandrinebedard commented on #122
@kousu I did `git annex sync -a --no-content`

When running
[code]
I get:

[code]

[2022-07-05 19:09] kousu commented on #122
@sandrinebedard, hm you might need to `git annex enableremote amazon` to get the new setting to kick in?

If that doesn't work `git annex enableremote amazon public=no` should fix it.

[2022-07-05 19:13] kousu commented on #122
I've given data-single-subject the same treatment. To test if it's behaving I checked out a copy and did

[code]

Then tried to upload:

[code]

which looks good: `sandrine2` should *not* have access to write to data-single-subject.

Then I went [into IAM](https://us-east-1.console.aws.amazon.com/iam/home#/users/sandrine2) and added the `READ_WRITE_S3_data-single-subject---spine-generic---neuropol

[2022-07-05 19:18] kousu commented on #122
I've also deleted the `sandrine2` and `kousu2` accounts, since I'm done testing with them.

[2022-07-05 19:20] sandrinebedard commented on #122
This did not work
[code]

[code]

However,

[code]

It worked!!! (still on going since there are a lot of images, but no errors!)

[2022-07-05 19:22] kousu commented on #122
Great! I'm pretty confident this is done then.

tl;dr: I'm pretty sure the problem was the policy created yesterday was missing the `PutBucketAcl` permission, which `git annex initrmote s3 public=yes ...` needs. However, Amazon has a better solution now -- possibly created since the last time we uploaded files to this dataset? -- which is to not use ACLs at all, and I migrated us to that on both o

[2022-07-08 18:21] sandrinebedard opened #124 "Modify README.txt in derivatives to explain processing"
# Context

Related to #123, the links in the /derivatives/labels_softseg needs to be modify according to the new merged processing pipeline (not merged in master yet in https://github.com/sct-pipeline/contrast-agnostic-softseg-spinalcord/blob/sb/merge_processing/process_data.sh) and a new README in /derivatives/labels also needs to be added to detail how the segmentations were created.

[2022-07-14 20:04] renelabounek opened #125 "git pull && git annex get . at forked source"
I fetched upstream spine-generic:data-multi-subject into https://github.com/renelabounek/data-multi-subject. Then I called
[code]
and have got following errors saying me that re-defaced T1w images were not downloaded throught the git annex:
<details><pre><code>get sub-amu01/anat/sub-amu01_T1w.nii.gz (not available)
  No other repository is known to contain the file.

  (Note that these git remotes

[2022-07-15 13:39] kousu commented on #122
Setting `public=no` has caused

* https://github.com/spine-generic/data-multi-subject/issues/125
* https://github.com/spine-generic/data-single-subject/issues/28

For example:

[code]

However, the [actual file](https://data-multi-subject---spine-generic---neuropoly.s3.ca-central-1.amazonaws.com/SHA256E-s5014657--40fb32f763950b360f64856bea9ea0ee8774f03cd07eab4231522eebaf706c32.nii.gz) **does** all

[2022-07-15 13:44] kousu commented on #122
Another problem: somehow we ended up with two copies of the amazon remote:

[code]

It looks like maybe it was ...a..bad merge?

[code]

but running `enableremote amazon public=yes` above has quietly **edited** the git-annex branch to remove the conflict:

[code]

[2022-07-15 13:48] mguaypaq commented on #125
Hi @renelabounek, thanks for reporting this issue. There are (at least) two things happening here:
1. We recently changed how the access permissions work on Amazon S3, where these files are stored, so currently they're not able to be downloaded. We'll get this fixed quickly, and we'll let you know as soon as things are back to normal.
2. But that's not the error message you're getting. Instead, it

[2022-07-15 14:33] renelabounek commented on #125
Ok I will do step 2, when you let me know that the issue 1 is fixed. Thanks, Rene

[2022-07-15 15:03] renelabounek opened #126 "Add "brain_t1" category and list of problematic scans into exclude.yml file"
# FILE TO BE EXTENDED:
 [exclude.yml](https://github.com/spine-generic/data-multi-subject/blob/master/exclude.yml)

# BACKGROUND and CONVERSATION POINTING THE ISSUE

*"Remaining 18 T1w scans (6.74%) demonstrated strong cerebral field of view cut offs disabling proper cerebral image analysis. Thus, these scans were rather excluded from the analysis."*

**René Labounek • 7:35 AM, Jul 15 (CDT):** Mak

[2022-07-15 16:30] kousu commented on #122
Reported upstream again at https://git-annex.branchable.com/bugs/S3_ACL_deprecation/, including the note that `public=no` isn't a full solution.

[2022-07-15 19:44] mguaypaq commented on #125
Ok, I think we don't need the `origin` and `upstream` remotes, at least for now, so please ignore step 2 from my previous comment. Can you try these commands:
[code]
If that works, then you should be able to retry downloading everything:
[code]
Otherwise, could you post the results of these commands please?
[code]

[2022-07-15 20:06] mguaypaq commented on #122
Our current understanding:
* It's important that everyone's git-annex has the amazon remote set to `public=yes`, so that everyone can download the data without credentials.
* But it's important to set `public=no` while uploading new data, so that git-annex uses the credentials to get write access to our S3 bucket.
* When running `git annex sync` and/or `git push origin git-annex:git-annex`, the cu

[2022-07-18 22:02] mbondy023 commented on #126
PR #127 submitted.

[2022-07-20 01:10] kousu commented on #122
I think the docs are a good enough workaround for now. Thanks a lot for taking the time to write them up! I like all the helpful comments on each line.

[2022-07-20 01:10] #122 closed, assigned to kousu, RignonNoel

[2022-07-20 19:12] #126 closed, assigned to nobody

[2022-07-20 20:09] renelabounek commented on #125
It di not pass. STDOUTs are below. I have not done the step 2 (i.e. the git config --unset commands), as you said not to do.

[code]

[code]

[code]

[2022-07-20 21:39] mguaypaq commented on #125
Ok, I can reproduce this problem, and I have some idea why it's happening, and a potential way to fix it (though not 100%).

The problem:
* git-annex stores a lot of metadata in a git branch called `git-annex` (including, where to find contents of files).
* By default, I think `git pull` only gets data from remotes for the `master` branch, not for the `git-annex` branch.
* Your fork, which is unde

[2022-07-21 02:27] renelabounek commented on #125
Nope, I am still not able to get the files.

[code]
[code]

[code]

[2022-07-21 13:08] mguaypaq commented on #125
I'm having trouble reproducing this problem on my computer. Could you tell me the output of the following commands, so that I have a better idea what's happening?
[code]
Thanks.

[2022-07-21 13:19] renelabounek commented on #125
Thanks for your help. Here are the STDOUTs:

[code]

[code]

[code]

[2022-07-21 14:35] mguaypaq commented on #125
Thanks for your patience. After trying to reproduce the problem on my computer, I think we can try to merge the information from the `upstream/git-annex` branch into the local `git-annex` branch with the following commands:
* Start the automatic merging process, which we expect to fail (we'll fix this with the following commands).
[code]
  We expect this to produce lots of output, ending with:
[co

[2022-07-21 15:19] renelabounek commented on #125
My expected outputs started to appear different within the first set of commands. My git does not know ``allow-unrelated-histories``. Should I continue? Or do we need to fix this first?

[code]
[code]

I assume it is a [git version issue](https://stackoverflow.com/questions/41356766/unknown-option-allow-unrelated-histories). Unfortunatelly, I am not admin at the server where the database is stored

[2022-07-21 15:24] mguaypaq commented on #125
Yes, it looks like a git version issue. Thankfully, that option is only
needed for recent versions of git to make them act like older versions of
git, so you can safely remove just that option and try again.

(Thanks for including your exact git version, that will help with fixing
things.)

On Thu., Jul. 21, 2022, 11:19 a.m. Rene Labounek, ***@***.***>
wrote:

[2022-07-21 15:49] renelabounek commented on #125
First two commands appears that everythin is up to date. The third command does not know flag ``--continue``. Possibly, again, version issue.

[code]

[code]

[code]

[2022-07-21 16:16] mguaypaq commented on #125
From the output of your commands, it looks like the `git-annex` branch on
your computer already contains all the information from both
`origin/git-annex` and `upstream/git-annex`, with no conflicts. So, the
first command `git merge` correctly and successfully did nothing (but I was
expecting a merge conflict); the second command also saw no conflicts and
did nothing; and the third command `git mer

[2022-07-23 01:13] mguaypaq commented on #122
A note for the future: according to [a git-annex tip](https://git-annex.branchable.com/tips/multiple_remotes_accessing_the_same_data_store/), it should be possible to configure two separate remotes for our Amazon S3 bucket, one with `public=yes` for everyone to read, and one with `public=no` for only the people with credentials and write access, configured so that git-annex knows that uploading to

[2022-07-25 15:04] renelabounek commented on #125
@mguaypaq, sorry for ym delay. I was not around computer much through the weekend. File download failed again. Bellow are the outputs.
Thanks, Rene

[code]

[code]

[code]

[2022-07-26 02:05] mguaypaq commented on #125
Ah, examining the previous output you gave me more carefully, I see that `git fetch upstream git-annex` did not do exactly what I expected, probably because of the older git version. I'm sorry. Can you try the following command:
[code]
After that, I would be curious if the following command now works (and the output):
[code]
If it fails, the output of the following commands could help me figure ou

[2022-07-27 13:09] renelabounek commented on #125
This really helped. See outputs bellow. Sorry for the hessle. But in summary, what was generally different for the forked database when compared to the README.md method? Just to start with the ``git fetch upstream`` before ``git pull && git annex get .``. Or was there something else needed to be done?
@mguaypaq, thank you very much for your time and help.
Rene

[code]

[code]

[code]

[2022-07-27 13:27] mguaypaq commented on #125
Great! I'm so glad it works now :tada:

I think that's the main thing, yes, just doing `git fetch upstream` along with `git pull` before doing `git annex get`. The reason is:
- `git pull` gets the contents of small files and hashes of the contents of big files into your local `master` branch (on your computer) from the `origin/master` branch (on your github fork). Possibly, depending on your setti

[2022-07-27 13:38] renelabounek commented on #125
A bit, yes... :-D I have the data updated, so we can close this issue. Only question remain, if my case was just too specific or if it would be worth to add the potential neccesity of the ``git fetch upstream`` command into README.md

[2022-07-27 14:24] mguaypaq commented on #125
Indeed! I'll open a separate issue for that. Thanks again for your patience!

[2022-07-27 14:24] #125 closed, assigned to mguaypaq

[2022-07-27 14:27] mguaypaq opened #128 "Update readme instructions with `git fetch upstream` if using a fork"
_Originally posted by @renelabounek in https://github.com/spine-generic/data-multi-subject/issues/125#issuecomment-1196775170_

When working though a github fork of this repo, the `git-annex` branch (which contains the location information for file contents used by `git annex get`) doesn't automatically get updated in the fork, so it's important to get it from the `git-annex` branch of this repo.

[2022-08-29 20:16] #128 closed, assigned to mguaypaq

[2022-08-30 16:12] #121 closed, assigned to sandrinebedard

[2022-10-07 20:14] etetteh opened #131 "How to structure the data after processing"
I have downloaded and processed all the datasets following the instructions from the [docs](https://spine-generic.readthedocs.io/analysis-pipeline.html#getting-started).
However the structure for example the `data_processed/sub-amu01/anat/` looks like the image below.

![Screen Shot 2022-10-07 at 16 02 14](https://user-images.githubusercontent.com/28512232/194645114-e38aedb2-489f-477b-93e9-701a311

[2022-10-11 00:59] jcohenadad commented on #131
Hi @etetteh, thank you for reaching out. The analysis you ran does perform some segmentations (e.g., of the spinal cord on multiple contrasts, and of the spinal cord gray matter on the T2*w contrast), however it is not relying on `ivadomed`. What exactly do you have in mind?  Would you like to train a model with ivadomed to perform a segmentation of the spinal cord? If this is the case, then, depe

[2022-10-14 07:45] dyollb opened #132 "Unable to access these remotes: amazon"
I am trying to download some of the data but am getting similar issues as in #107.
I have git-annex 10.20220822 installed. Running MacOS 12.6.

The output of `git remote -v` is:

Should I follow the advice and add one of the remotes mentioned above?

[2022-10-14 14:52] mguaypaq commented on #132
Thanks for reporting this issue. Based on this part of the error message, it looks like we currently have the `amazon` remote misconfigured:

Indeed, I was able to reproduce the issue locally, and the `amazon` remote wrongly has the setting `public=no`. I've reset it to `public=yes`, so it should work now, as long as you run this command first:

[code]

To answer your other question:

No, these re

[2022-10-14 17:19] dyollb commented on #132
thanks! it works now.

[2022-10-14 17:19] #132 closed, assigned to mguaypaq